# Esbuild
src/main/resources/render/script/quarkdown.js
src/main/resources/render/script/quarkdown.js.map

# Sass
src/main/resources/render/theme/**/*.css
src/main/resources/render/theme/**/*.css.map

# e2e
**/playwright-report/
**/test-results/