@use "util/viewport";
@use "util/list";
@use "util/table";
@use "util/code";
@use "util/focus";
@use "util/blockquote";
@use "util/figure";
@use "util/mermaid";
@use "util/clip";
@use "util/box";

:root {
  /* Quarkdown exposed properties */

  /* Colors */
  --qd-background-color: inherit; /* Background color */
  --qd-main-color: inherit; /* Main text color */
  --qd-primary-color: var(--qd-main-color); /* Primary/accent color */
  --qd-color-on-primary: var(--qd-background-color); /* Text color on primary background color */
  --qd-heading-color: var(--qd-main-color); /* Heading (titles) color */
  --qd-link-color: inherit; /* Link color */
  --qd-callout-box-header-color: var(--qd-main-color); /* Color of the header of callout box headers. This is just a referenceable value and is not used in this global theme */
  --qd-collapsed-text-color: var(--qd-link-color); /* Color of expandible text */
  --qd-error-message-collapsed-text-color: rgb(240, 246, 77); /* Color of expandible text in error messages */

  /* Fonts */
  --qd-main-font: inherit;
  --qd-main-font-size: 1em;
  --qd-code-font: monospace;
  --qd-box-heading-font: var(--qd-main-font); /* Font of box headers */
  --qd-code-span-font-size: var(--qd-main-font-size);
  --qd-code-block-font-size: var(--qd-code-span-font-size); /* Font size of code blocks in non-slides documents */
  --qd-slides-code-block-font-size: var(--qd-code-block-font-size); /* Font size of code blocks in slides documents */
  --qd-heading-font: inherit;

  /* Margins */
  --qd-block-margin: 32px; /* Margin of block elements */
  --qd-paragraph-vertical-margin: var(--qd-block-margin); /* Vertical margin of paragraphs preceded by a paragraph */
  --qd-heading-margin: 40px 0 20px 0; /* Margin of headings */
  --qd-task-checkbox-margin-right: 0.9em; /* Right margin of checkboxes in GFM task list items */
  --qd-box-margin-multiplier: 1.5; /* --qd-block-margin * this = box vertical margin */

  /* Text */
  --qd-line-height: 1.5;
  --qd-letter-spacing: normal;
  --qd-paragraph-text-indent: none; /* Paragraph indentation (with LaTeX policies) */
  --qd-location-suffix: ". "; /* Suffix for element (e.g. headings) location numbering */
  --qd-caption-label-suffix: ": "; /* Suffix for labels (e.g. Figure 1.1: ...) in captions */
  --qd-slides-horizontal-alignment: center; /* Text alignment of slides documents */
  --qd-paged-horizontal-alignment: justify; /* Text alignment of paged documents */
  /*
  Global text alignment (should not be overridden externally).
  It can equal to either --qd-pages-horizontal-alignment or --qd-slides-horizontal-alignment
  according to the current document type.
  */
  --qd-horizontal-alignment: var(--qd-paged-horizontal-alignment);

  /* Code */
  --qd-code-line-height: var(--qd-line-height); /* Line height of code blocks */
  --qd-code-border-radius: 8px; /* Border radius of code blocks */
  --qd-code-line-numbers-padding: 0 0.8em; /* Padding of line numbers of code blocks. Vertical padding also defines code line height. */
  --qd-code-line-numbers-opacity: 0.6; /* Opacity of line numbers of code blocks */

  /* Tables */
  --qd-table-default-cell-alignment: initial; /* Text alignment of table cells, if not specified */

  /* Quotes */
  --qd-quote-type-label-suffix: ": "; /* Suffix for localized quote type labels, e.g. Tip, Note, Warning, ... */
  --qd-quote-attribution-prefix: "— "; /* Prefix for quote attributions */
  --qd-quote-foreground-color: var(--qd-main-color);
  --qd-quote-background-color: color-mix(in srgb, var(--qd-quote-foreground-color) 5%, transparent);

  /* Boxes */
  --qd-box-border-radius: 8px;
  --qd-box-section-padding: 12px 16px; /* Padding of box sections (header and content) */
  --qd-box-icon-baseline: 0; /* Y offset of icons in box headers */

  /* Callout elements */
  --qd-callout-foreground-color: var(--qd-color-on-primary);
  --qd-callout-background-color: color-mix(in srgb, var(--qd-callout-foreground-color) 5%, transparent);
  /* Tip elements */
  --qd-tip-foreground-color: rgb(33, 102, 25);
  --qd-tip-background-color: color-mix(in srgb, var(--qd-tip-foreground-color) 5%, transparent);
  /* Note elements */
  --qd-note-foreground-color: rgb(25, 60, 102);
  --qd-note-background-color: color-mix(in srgb, var(--qd-note-foreground-color) 5%, transparent);
  /* Warning elements */
  --qd-warning-foreground-color: rgb(161, 76, 32);
  --qd-warning-background-color: color-mix(in srgb, var(--qd-warning-foreground-color) 5%, transparent);
  /* Important elements */
  --qd-important-foreground-color: rgb(145, 34, 34);
  --qd-important-background-color: color-mix(in srgb, var(--qd-important-foreground-color) 5%, transparent);
  /* Error elements */
  --qd-error-foreground-color: white;
  --qd-error-background-color: rgb(224, 67, 64);

  /* Mermaid diagrams */
  --qd-mermaid-node-background-color: var(--qd-primary-color);
  --qd-mermaid-node-border-color: var(--qd-mermaid-node-text-color);
  --qd-mermaid-node-border-width: 1px;
  --qd-mermaid-node-text-color: var(--qd-color-on-primary);
  --qd-mermaid-node-line-color: var(--qd-main-color);
  --qd-mermaid-node-filter: none;

  /* Reveal properties */
  --r-background-color: var(--qd-background-color);
  --r-main-color: var(--qd-main-color);
  --r-heading-color: var(--qd-heading-color);
  --r-link-color: var(--qd-link-color);
  --r-main-font: var(--qd-main-font);
  --r-main-font-size: var(--qd-main-font-size);
  --r-code-font: var(--qd-code-font);
  --r-heading-font: var(--qd-heading-font);
  --r-block-margin: var(--qd-block-margin);
  --r-heading-margin: var(--qd-heading-margin);

  /* Injected properties. These are injected from html-wrapper depending on the user's preferences. Here are default values. */
  --property-column-count: unset;
  --viewport-remaining-height: 50vh;
}

/* In a multi-column layout, these elements span across all columns. */
.full-column-span, h1, h2, h3, nav {
  column-span: all;
}

/* A divider in a row is vertical instead of horizontal */
.quarkdown .stack-row > hr {
  display: list-item;
  width: auto;
  margin: 0 var(--qd-block-margin);
}

.quarkdown hr {
  width: 100%;
}

.quarkdown a {
  color: var(--qd-link-color);
  text-decoration: none;
}

/* Math */
.katex.katex {
  font-size: 1.1em;
  margin: 0 .1em;
}

/* Vertical block spacing. */
.quarkdown :is(
    table:not(code table), pre, figure, blockquote,
    hr, .stack:not(.stack .stack)
) {
  margin-top: var(--qd-block-margin);
  margin-bottom: var(--qd-block-margin);
}

.quarkdown :is(h1, h2, h3, h4, h5, h6) {
  color: var(--qd-heading-color);
  font-family: var(--qd-heading-font);
  margin: var(--qd-heading-margin);
  text-transform: none !important;
}

.quarkdown-slides section > :is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

.quarkdown details summary {
  cursor: pointer;
  margin-bottom: var(--qd-paragraph-vertical-margin);
}

.quarkdown.quarkdown p {
  line-height: var(--qd-line-height);
  letter-spacing: var(--qd-letter-spacing);
  margin-top: 0;
  margin-bottom: 0;
  text-indent: var(--qd-paragraph-text-indent);
}

/* Syllables-based word break */
.quarkdown:not(.quarkdown-slides) p {
  hyphens: auto;
}

.quarkdown p:empty {
  display: none;
}

/* Spacing between two sibling paragraphs */
p + p:not(.stack > p):not(.page-margin-content > p),
  /* Spacing between two sibling paragraphs with a floating element in-between */
p + .float + p:not(.stack > p):not(.page-margin-content > p),
  /* Spacing between the paragraph and its floating element sibling. */
p + .float:has(+ p:not(.stack > p):not(.page-margin-content > p)) {
  margin-top: var(--qd-paragraph-vertical-margin) !important;
}

/* Paragraph indentation cancelling */
p:first-child,
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
hr + p,
figure + p,
table + p,
details > summary + p,
.float + p,
figure p,
.stack > p,
.container[style*="text-align"] > p,
.container[style*="justify-items"] > p,
.mermaid p {
  text-indent: 0 !important;
}

.float[style*="float: inline-start"] {
  margin-right: 1.1em;
}

.float[style*="float: inline-end"] {
  margin-left: 1.1em;
}

/* Reset the margin of the first element in a page */
.pagedjs_page_content > div > *:first-child,
.pagedjs_page_content > div > *[data-hidden]:first-child ~ *:nth-child(2) {
  margin-top: 0 !important;
}

/* Elements that contain location data display it accordingly */
[data-location]::before {
  content: attr(data-location) var(--qd-location-suffix);
}

/* Location data in a list item replaces its marker */
.quarkdown li[data-location] {
  list-style-type: none;
}

/*
Elements that reference to a label display it accordingly.
Example: "Figure 1.1:"
*/
[data-element-label]::before {
  content: attr(data-localized-kind) " " attr(data-element-label) var(--qd-caption-label-suffix);
}

/* "Figure 1.1" instead of "Figure 1.1: " if the caption is empty */
[data-element-label]:empty {
  --qd-caption-label-suffix: "";
}

/* Container */

.container {
  display: inline-block;
}

.container.fullwidth {
  display: block;
}

.container:not(.fullwidth):not(.clip > .container) :only-child {
  margin: 0;
}

/* Stacks */

:is(.stack, .page-margin-content) > :is(p, h1, h2, h3, h4, h5, h6, figure) {
  margin: 0 !important;
}

.stack-row {
  display: flex;
  flex-direction: row;
}

.stack-column {
  display: flex;
  flex-direction: column;
}

.stack-grid {
  display: grid;
}

.stack-grid > * {
  margin: 0 !important;
}

.container > .stack {
  width: 100%;
  height: 100%;
}

/* Sizes */

.size-tiny {
  font-size: 0.5em;
}

.size-small {
  font-size: 0.75em;
}

.size-normal {
  font-size: 1em;
}

.size-medium {
  font-size: 1.25em;
}

.size-larger {
  font-size: 1.5em;
}

.size-large {
  font-size: 2em;
}

.size-huge {
  font-size: 3em;
}

.inline-collapse[data-collapsed="true"] {
  cursor: pointer;
  font-weight: bold;
  color: var(--qd-collapsed-text-color);
  border-bottom: 3px dotted color-mix(in srgb, var(--qd-collapsed-text-color) 28%, transparent);
}

.collapsible-text[data-collapsed="true"] {
  cursor: pointer;
}

.marker {
  display: none;
}

.quarkdown pre {
  min-width: 20%;
}

.quarkdown-slides pre:not(.stack > pre) {
  min-width: 100%;
}

.stack > pre {
  width: auto;
  margin: 0;
}

.quarkdown img {
  max-width: 100%;
  max-height: 100%;
}

/* Table of contents */

.quarkdown nav {
  text-align: start;
}

.quarkdown nav ol {
  list-style-position: inside;
  margin: 0 0 0 1em;
}

.quarkdown nav ol:not(ol ol) {
  padding-left: 0;
}

/* ToC is scrollable in slides. */
.quarkdown-slides nav {
  overflow-y: scroll;
  max-height: 50vh;
}

.quarkdown h1#table-of-contents {
  text-align: start;
}

.quarkdown nav li a::after {
  /* TOC page counter on supported targets */
  content: target-counter(attr(href), page);
  float: right;
}

.quarkdown span:is(.current-page-number, .total-page-number) {
  display: inline;
}

/* Bibliography */

.quarkdown .bibliography {
  text-align: start;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5em;
  row-gap: 1em;
}

/* Footer */

.page-margin-bottom-center, .page-margin-top-center {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

:is(.page-margin-bottom-center, .page-margin-top-center) > * {
  width: 100%;
  text-align: center;
}

/* Fixed page margins */

.page-margin-content:not(.quarkdown-paged .page-margin-content) {
  /* Paged documents have dedicated areas for each margin. Others use fixed positions. */
  position: fixed;
  background-color: var(--qd-background-color);
  z-index: 9999;
}

.pagedjs_margin-left-top, .pagedjs_margin-right-top {
  display: block;
}

.page-margin-top-left-corner, .page-margin-top-left {
  top: 0;
  left: 0;
}

.page-margin-top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page-margin-top-right-corner, .page-margin-top-right {
  top: 0;
  right: 0;
}

.page-margin-right-top {
  top: 0;
  right: 0;
  rotate: 90deg;
  transform: translateX(50%);
}

.page-margin-right-middle {
  top: 50%;
  right: 0;
  rotate: 90deg;
  transform: translateX(-50%);
}

.page-margin-right-bottom {
  bottom: 0;
  right: 0;
  rotate: 90deg;
  transform: translateX(-50%);
}

.page-margin-bottom-right-corner, .page-margin-bottom-right {
  bottom: 0;
  right: 0;
  transform: translateX(-50%);
}

.page-margin-bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page-margin-bottom-left-corner, .page-margin-bottom-left {
  bottom: 0;
  left: 0;
  transform: translateX(50%);
}

.page-margin-left-bottom {
  bottom: 0;
  left: 0;
  rotate: -90deg;
  transform: translateY(-50%);
}

.page-margin-left-middle {
  top: 50%;
  left: 0;
  rotate: -90deg;
  transform: translateY(-50%);
}

.page-margin-left-top {
  top: 0;
  left: 0;
  rotate: -90deg;
  transform: translateX(-50%);
}

.pagedjs_page .page-margin-content {
  /* Removes translations from the margin content of paged documents */
  transform: none;
}

/* Experimental fix: Chrome export-to-PDF adds a colored strip to the bottom area. */
@media print {
  .pagedjs_margin, .pagedjs_margin-bottom, .pagedjs_margin-bottom-left-corner-holder, .pagedjs_margin-bottom-right-corner-holder {
    background-color: var(--qd-background-color);
  }
}

/* Navigation sidebar */

.sidebar {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 5px;
  max-height: 90vh;
  overflow-y: auto;
}

.sidebar ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 0 !important;
}

.sidebar a {
  color: var(--qd-main-color);
  height: 12px;
  text-decoration: none !important;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.sidebar a::before {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--qd-main-color);
  opacity: 0.25;
  transition: opacity 0.3s;
}

.quarkdown-paged .sidebar a span {
  margin-right: 10px;
}

.quarkdown-paged .sidebar a::before {
  background: #444;
}

.sidebar li.h1 a::before {
  width: 30px;
  margin-left: 0;
}

.sidebar li.h2 a::before {
  width: 20px;
  margin-left: 10px;
}

.sidebar li.h3 a::before {
  width: 10px;
  margin-left: 20px;
}

.sidebar a:not(:hover) {
  color: transparent;
}

.sidebar li.active a::before {
  opacity: .75;
}

.sidebar a:hover::before {
  opacity: 1;
}

.sidebar a:hover span {
  background-color: var(--qd-background-color);
  padding: 4px 16px;
  border-radius: 8px;
}

@media print {
  .sidebar {
    display: none;
  }
}

@media screen and (min-aspect-ratio: 1.3), pagedjs-ignore {
  .sidebar {
    display: block !important;
  }
}
