.quarkdown {
  text-align: var(--qd-horizontal-alignment-global);

  // Local alignment (e.g. justification) is applied to specific elements instead of the whole document.
  p, li, caption, figcaption {
    text-align: var(--qd-horizontal-alignment-local);
  }
}

.quarkdown-slides {
  --qd-horizontal-alignment-global: center;

  .reveal .slides > :is(section, .pdf-page) {
    text-align: var(--qd-horizontal-alignment-global);
  }
}

.quarkdown-plain, .quarkdown-paged {
  --qd-horizontal-alignment-local: justify;
}