@mixin global-font-family($kind: "main", $fallback: serif) {
  $custom-family: --qd-#{$kind}-custom-font;
  $base-family: --qd-#{$kind}-font;
  font-family:
          var($custom-family, var($base-family, $fallback)),
          var($base-family, $fallback),
          $fallback;
}