.quarkdown {
  .footnote-definition {
    display: flex;
    flex-direction: row;
  }

  .footnote-reference a {
    text-decoration: none;
  }

  .footnote-rule {
    border-top: 1px solid var(--qd-page-content-border-color);
    width: 40%;
    height: 4px;
  }
}
