.quarkdown {
  ul, ol {
    padding-left: 20px;

    &:has(> .task-list-item) {
      padding-left: 0;
    }
  }

  li {
    // Not loose
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    &:has(p) {
      // Loose
      margin-top: 1em;
      margin-bottom: 1em;
    }

    // If a list item has a custom bullet element, the actual content is wrapped in a container
    &:has(> div:nth-child(2)) {
      display: flex;
      align-items: flex-start;
    }
  }

  // GFM task items
  .task-list-item {
    list-style-type: none;

    input[type="checkbox"]:first-child {
      margin-right: var(--qd-task-checkbox-margin-right);
      transform: translateY(1px);
    }
  }
}