.quarkdown {
  h1#table-of-contents {
    text-align: start;
  }

  .current-page-number, .total-page-number {
    display: inline;
  }

  nav {
    text-align: start;

    ol {
      list-style-position: inside;
      margin: 0 0 0 1em;

      &:not(ol ol) {
        padding-left: 0;
      }
    }

    li {
      // Hide list markers for all items
      list-style-type: none;

      // Add left padding to unnumbered items to align with numbered items' text
      &:not([data-location]) {
        padding-left: 1.7em;
      }

      a::after {
        // ToC page counter on supported targets
        content: target-counter(attr(href), page);
        float: right;
      }
    }
  }
}

// ToC is scrollable in slides (not in PDF view)
.quarkdown-slides nav:not(.pdf-page nav) {
  overflow-y: scroll;
  max-height: 50vh;
}