@use "_font";
@use "util/media-queries" as media-queries;

@mixin content-area-border {
  border-width: var(--qd-page-content-border-width);
  border-color: var(--qd-page-content-border-color);
  border-style: var(--qd-page-content-border-style);
  box-sizing: border-box;
}

body.quarkdown {
  color: var(--qd-main-color);
  font-size: var(--qd-main-font-size);
  @include font.global-font-family();

  &:not(.quarkdown-paged), &.quarkdown-paged .pagedjs_page {
    background-color: var(--qd-background-color);
  }

  // Plain viewport
  &.quarkdown-plain {
    display: flex;
    flex-direction: row;
    margin: 32px 0;

    > main {
      width: min(100%, 90ch);
      column-count: var(--qd-column-count);
    }

    > aside {
      $width: 30vw;
      max-width: #{$width};
      width: #{$width};

      --aside-outer-margin: 12px;
      --aside-inner-margin: calc(var(--aside-outer-margin) * 2);
      margin: 0 var(--aside-outer-margin);

      &#margin-area-left {
        margin-right: var(--aside-inner-margin);
      }

      &#margin-area-right {
        margin-left: var(--aside-inner-margin);
      }
    }

    // Mobile responsiveness
    @include media-queries.mobile($orNarrowPrint: true) {
      flex-direction: column;
      padding: 0 16px;

      > * {
        font-size: 1.1em;
      }

      > main {
        width: 100%;
      }

      > aside#margin-area-left {
        display: none;
      }

      // Footnotes go to the bottom
      > aside#margin-area-right {
        --aside-inner-margin: 0;
        max-width: none;
        width: auto;
        margin-top: 16px;

        .footnote-definition {
          margin-top: 0.5em !important;
        }
      }
    }
  }

  // Slides viewport
  &.quarkdown-slides .reveal .slides {
    @include content-area-border;

    > section, .pdf-page {
      column-count: var(--qd-column-count);
    }
  }

  // Paged viewport
  &.quarkdown-paged {
    background-color: lightgray;

    // Paged rendering is not yet complete
    &:not(:has(.pagedjs_page)) {
      opacity: 0;
    }

    .pagedjs_pages {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3mm;
    }

    .pagedjs_page {
      box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
    }

    .pagedjs_area {
      @include content-area-border;
    }
  }
}