@use "_font";
@use "util/media-queries" as media-queries;

@mixin content-area-border {
  border-width: var(--qd-page-content-border-width);
  border-color: var(--qd-page-content-border-color);
  border-style: var(--qd-page-content-border-style);
  box-sizing: border-box;
}

body.quarkdown {
  color: var(--qd-main-color);
  font-size: var(--qd-main-font-size);
  @include font.global-font-family();

  &:not(.quarkdown-paged), &.quarkdown-paged .pagedjs_page {
    background-color: var(--qd-background-color);
  }

  // Plain viewport
  &.quarkdown-plain,
  &.quarkdown-docs :is(header, .content-wrapper) {
    display: flex;
    flex-direction: row;

    > main {
      width: min(100%, 90ch);
      column-count: var(--qd-column-count);
    }

    > aside {
      --aside-width: 30vw;
      --aside-outer-margin: 12px;
      --aside-inner-margin: calc(var(--aside-outer-margin) * 2);

      width: var(--aside-width);
      max-width: var(--aside-width);
      margin: 0 var(--aside-outer-margin);

      &:first-child {
        margin-right: var(--aside-inner-margin);
      }

      &:last-child {
        margin-left: var(--aside-inner-margin);
      }
    }

    // Mobile responsiveness
    @include media-queries.mobile($orNarrowPrint: true) {
      flex-direction: column;
      padding: 0 16px;

      > * {
        font-size: 1.1em;
      }

      > main {
        width: 100%;
      }

      > aside:first-child {
        display: none;
      }

      // Footnotes go to the bottom
      > aside:last-child {
        --aside-inner-margin: 0;
        max-width: none;
        width: auto;
        margin-top: 16px;

        .footnote-definition {
          margin-top: 0.5em !important;
        }
      }
    }
  }

  &.quarkdown-plain {
    margin: 32px 0;
  }

  // Docs viewport
  &.quarkdown-docs {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    header {
      height: var(--qd-docs-header-height);
      position: sticky;
      top: 0;
      z-index: 10;
    }

    .content-wrapper > aside {
      overflow-y: auto;
      max-height: calc(100vh - var(--qd-docs-header-height));
      position: sticky;
      top: var(--qd-docs-header-height);
    }

    :is(header, .content-wrapper) > aside {
      --aside-width: 20vw;
      --aside-outer-margin: 32px;

      padding-top: 32px;

      &:first-child {
        padding-right: calc(var(--aside-outer-margin) / 2);
      }

      &:last-child {
        padding-left: calc(var(--aside-outer-margin) / 2);
      }
    }
  }

  // Slides viewport
  &.quarkdown-slides .reveal .slides {
    @include content-area-border;

    > section, .pdf-page {
      column-count: var(--qd-column-count);
    }
  }

  // Paged viewport
  &.quarkdown-paged {
    background-color: lightgray;

    // Paged rendering is not yet complete
    &:not(:has(.pagedjs_page)) {
      opacity: 0;
    }

    .pagedjs_pages {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3mm;
    }

    .pagedjs_page {
      box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
    }

    .pagedjs_area {
      @include content-area-border;
    }
  }
}