@use "_font";
@use "util/media-queries" as media-queries;

@mixin content-area-border {
  border-width: var(--qd-page-content-border-width);
  border-color: var(--qd-page-content-border-color);
  border-style: var(--qd-page-content-border-style);
  box-sizing: border-box;
}

body.quarkdown {
  color: var(--qd-main-color);
  font-size: var(--qd-main-font-size);
  @include font.global-font-family();

  &:not(.quarkdown-paged), &.quarkdown-paged .pagedjs_page {
    background-color: var(--qd-background-color);
  }

  // Plain & docs viewport
  &.quarkdown-plain,
  &.quarkdown-docs :is(header, .content-wrapper) {
    display: flex;
    flex-direction: row;

    > main {
      width: min(100%, 90ch);
      column-count: var(--qd-column-count);
    }

    > aside {
      --aside-width: 30vw;
      --aside-outer-margin: 12px;
      --aside-inner-margin: calc(var(--aside-outer-margin) * 2);

      width: var(--aside-width);
      max-width: var(--aside-width);
      margin: 0 var(--aside-outer-margin);

      &:first-child {
        margin-right: var(--aside-inner-margin);
      }

      &:last-child {
        margin-left: var(--aside-inner-margin);
      }
    }
  }

  // Plain & docs viewport responsive adjustments
  // Plain reflows at sm breakpoint, docs at md
  @mixin reflow-plain-like-viewport {
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;

    > main {
      width: 100%;
    }

    @include media-queries.mobile($orNarrowPrint: true) {
      > * {
        font-size: 1.1em;
      }
    }
  }

  &.quarkdown-plain {
    margin: 32px 0;

    @include media-queries.mobile($orNarrowPrint: true) {
      @include reflow-plain-like-viewport;

      > aside:first-child {
        display: none;
      }

      // Footnotes go to the bottom
      > aside:last-child {
        --aside-inner-margin: 0;
        max-width: none;
        width: auto;
        margin-top: 16px;

        .footnote-definition {
          margin-top: 0.5em !important;
        }
      }
    }
  }

  // Docs viewport
  &.quarkdown-docs {
    --header-height: calc(var(--qd-docs-header-height) + var(--qd-docs-header-vertical-padding) * 2);

    margin: 0;
    display: flex;
    flex-direction: column;

    > header {
      height: var(--qd-docs-header-height);
      padding: var(--qd-docs-header-vertical-padding) 0;
      position: sticky;
      top: 0;
      z-index: 10;

      > aside {
        display: flex;
        align-items: center;
      }
    }

    > .content-wrapper > aside {
      overflow-y: auto;
      position: sticky;
      top: var(--header-height);
      max-height: calc(100vh - var(--header-height));
      padding-top: 32px;
    }

    > :is(header, .content-wrapper) > aside {
      --aside-width: 20vw;
      --aside-outer-margin: 32px;

      padding-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }

    // Higher specificity for responsive adjustments.
    &.quarkdown-docs {
      @include media-queries.md-down($orNarrowPrint: true) {
        margin-bottom: 32px;

        > header, > .content-wrapper {
          @include reflow-plain-like-viewport;
        }

        > header {
          flex-direction: row;
        }

        > .content-wrapper > aside {
          position: static;
          width: auto;
          max-width: none;
          margin: 16px 0 0 0;
          padding-left: 0;
          padding-right: 0;
          border: none;
          order: 2;

          &:first-child {
            border-top: 1px solid var(--qd-docs-separator-border-color);
          }
        }
      }

      @include media-queries.md-down($orNarrowPrint: false) {
        > header > aside {
          display: none;
        }
      }

      @include media-queries.print {
        > header {
          .search-wrapper {
            display: none;
          }

          &:has(> aside:first-child:empty):has(> aside:last-child:empty) {
            display: none;
          }
        }
      }
    }
  }

  // Slides viewport
  &.quarkdown-slides .reveal .slides {
    @include content-area-border;

    > section, .pdf-page {
      column-count: var(--qd-column-count);
    }
  }

  // Paged viewport
  &.quarkdown-paged {
    background-color: lightgray;

    // Paged rendering is not yet complete
    &:not(:has(.pagedjs_page)) {
      opacity: 0;
    }

    .pagedjs_pages {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3mm;
    }

    .pagedjs_page {
      box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
    }

    .pagedjs_area {
      @include content-area-border;
    }
  }
}