/* Beamer's Beaver color theme */

@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css');

:root {
    --qd-primary-color: rgb(187, 39, 26);
    --primary-darker: rgb(149, 29, 18);
    --secondary: rgb(236, 236, 236);
    --tertiary: rgb(216, 216, 216);

    --qd-background-color: white;
    --qd-link-color: var(--qd-primary-color);
    --qd-callout-box-header-color: color-mix(in srgb, currentColor 7%, transparent);
    --qd-color-on-primary: var(--qd-background-color);
}

h1, h2 {
    color: var(--qd-primary-color) !important;
}

h1:not(.box h1) {
    background-color: var(--secondary);
}

.box > header {
    background-color: var(--qd-callout-box-header-color);
}

.box > header > h4 {
    color: inherit;
}

.box.callout {
    background-color: rgb(234, 233, 247);
}

.box.callout > header, .box.callout .box-content li::marker {
    color: rgb(83, 81, 152);
}

.box.callout:has(.box-content h1) {
    background-color: var(--secondary);
}

.color-preview {
    border-color: var(--secondary) !important;
}

.page-margin-bottom-center > * {
    background-color: var(--tertiary);
    color: var(--qd-primary-color);
}

.page-margin-bottom-center > *:first-child {
    background-color: var(--qd-primary-color);
    color: white;
}

.page-margin-bottom-center > *:nth-child(even) {
    background-color: var(--secondary);
}