@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css');

:root {
    --primary: #224A51;

    --qd-background-color: #242528;
    --qd-main-color: #C9C9D7;
    --qd-link-color: #5FC7C7;
    --qd-callout-box-header-color: var(--primary);
    --qd-tip-foreground-color: #86DC93;
    --qd-note-foreground-color: #84AAEC;
    --qd-warning-foreground-color: #FFB86C;
    --qd-important-foreground-color: #FF7373;
}

hr {
    opacity: 0.5;
}

pre {
    --shadow-opacity: 0.08;
    box-shadow: 0 5px 15px rgba(0, 0, 0, var(--shadow-opacity));
}

.reveal pre {
    --shadow-opacity: 0.1;
}

.box > header {
    background-color: rgba(23, 53, 56, 0.35);
}

.box > header > h4 {
    color: inherit;
}

.box.callout {
    background-color: var(--primary);
}

.box.tip {
    background-color: rgb(52, 79, 117);
    color: white;
}

.box.tip > header {
    background-color: rgb(10, 17, 26, 0.15);
}

.box.tip > header > h4 {
    color: rgb(194, 236, 250);
}

.codespan-content:not(.box .codespan-content) {
    background-color: rgba(34, 74, 81, .4);
}

nav ol ol {
    border-color: rgba(255, 255, 255, .1);
}

.page-margin-bottom-center {
    border-color: var(--qd-link-color);
}