@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css');

:root {
    --primary: #224A51;

    --qd-background-color: #242528;
    --qd-main-color: #C9C9D7;
    --qd-link-color: #5FC7C7;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--qd-main-color) !important;
}

hr {
    opacity: 0.5;
}

.box {
    background-color: var(--primary);
}

.box > header {
    background-color: rgba(23, 53, 56, 0.35);
}

.box > header > h4 {
    color: inherit;
}

.codespan-content:not(.box .codespan-content) {
    background-color: rgba(34, 74, 81, .4);
}

.table-of-contents ol ol {
    border-color: rgba(255, 255, 255, .1);
}

.page-margin-bottom-center {
    border-color: var(--qd-link-color);
}