@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css');

:root {
    --primary: #224A51;

    --qd-background-color: #242528;
    --qd-main-color: #C9C9D7;
    --qd-link-color: #5FC7C7;
    --qd-callout-box-header-color: var(--primary);
}

blockquote {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

hr {
    opacity: 0.5;
}

.box.callout-box {
    background-color: var(--primary);
}

.box > header {
    background-color: rgba(23, 53, 56, 0.35);
}

.box > header > h4 {
    color: inherit;
}

.box.tip-box {
    background-color: rgb(52, 79, 117);
    color: white;
}

.box.tip-box > header {
    background-color: rgb(10, 17, 26, 0.15);
}

.box.tip-box > header > h4 {
    color: rgb(194, 236, 250);
}

.codespan-content:not(.box .codespan-content) {
    background-color: rgba(34, 74, 81, .4);
}

nav ol ol {
    border-color: rgba(255, 255, 255, .1);
}

.page-margin-bottom-center {
    border-color: var(--qd-link-color);
}