// Media query utilities and breakpoints.

$mobile-breakpoint: 800px;
$non-mobile-breakpoint: $mobile-breakpoint + 1px;
$md-breakpoint: 1200px;
$narrow-print-breakpoint: 1000px;

@mixin bp-down($breakpoint, $orPrint: false) {
  @if $orPrint {
    @media screen and (max-width: $breakpoint), print and (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
}

// Targets mobile screens.
// @param $orNarrowPrint - if true, also targets narrow print media.
@mixin mobile($orNarrowPrint: false) {
  @include bp-down($mobile-breakpoint, $orNarrowPrint) {
    @content;
  }
}

// Targets non-mobile screens.
// @param $orPrint - if true, also targets print media on screen (paged viewports, but *not* PDFs).
@mixin non-mobile($orNonPrintPaged: false) {
  @if $orNonPrintPaged == false {
    @media screen and (min-width: $non-mobile-breakpoint) {
      @content;
    }
  } @else {
    @media screen and (min-width: $non-mobile-breakpoint), pagedjs-ignore {
      @content;
    }
  }
}

@mixin md-down($orNarrowPrint: false) {
  @include bp-down($md-breakpoint, $orNarrowPrint) {
    @content;
  }
}

// Targets print media.
@mixin print {
  @media print {
    @content;
  }
}
