// Media query utilities and breakpoints.

// Mobile
$sm: 800px;
$sm-print: 1000px; // 'sm' size for print media (PDF)

// Tablet
$md: 1200px;
$md-print: 1400px; // 'md' size for print media (PDF)

@mixin bp-down($breakpoint, $print-breakpoint: null) {
  @if $print-breakpoint != null {
    @media screen and (max-width: $breakpoint), print and (max-width: $print-breakpoint), pagedjs-ignore {
      @content;
    }
  } @else {
    @media screen and (max-width: $breakpoint), pagedjs-ignore {
      @content;
    }
  }
}

@mixin bp-up($breakpoint) {
  @media screen and (min-width: #{$breakpoint + 1}), pagedjs-ignore {
    @content;
  }
}

// @param $print - if true, also targets narrow print media.
@mixin sm-down($print: false) {
  @include bp-down($sm, if($print, $sm-print, null)) {
    @content;
  }
}

@mixin sm-up {
  @include bp-up($sm) {
    @content;
  }
}

@mixin md-down($print: false) {
  @include bp-down($md, if($print, $md-print, null)) {
    @content;
  }
}

@mixin md-up {
  @include bp-up($md) {
    @content;
  }
}

// Targets print media.
@mixin print {
  @media print {
    @content;
  }
}
