@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --main: #2A4F3B;
    --base-spacing-xlarge: 5vh;
    --indigo-100: #5A935A;
    --indigo-200: var(--indigo-100);
    --indigo-300: var(--indigo-700);
    --indigo-400: color-mix(in srgb, var(--main) 20%, var(--indigo-100));
    --indigo-500-main: var(--main);
    --indigo-600: color-mix(in srgb, var(--main) 30%, #176917);
    --indigo-700: var(--indigo-100);
    --indigo-800: var(--main);
}

.main-wrapper, .background-image-container {
    overflow: visible !important;
    max-height: none;
}

.background-image-container {
    z-index: -99999;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

section {
    z-index: 99999;
}

footer.footer-section {
    padding: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    color: var(--base-white);
}

@media screen and (max-width: 767px) {
    footer .label-regular {
        font-size: .4rem;
    }
}

@media screen and (max-width: 600px) {
    footer .label-regular {
        font-size: .35rem;
    }
}

main > .divider {
    display: none;
}

nav .logo-wrapper img {
    scale: 1.1;
}

.nav-icon {
    width: 1.5rem;
}

.background-image-container {
    filter: hue-rotate(270deg) saturate(.6);
    opacity: .5;
}

.background-image-container > img {
    scale: 1.2;
    rotate: 45deg;
}

@media screen and (max-width: 1200px) {
    .background-image-container > img {
        scale: 1;
        rotate: 0deg;
        height: 100vh;
        transform: scaleY(1.5);
    }
}

.container-small {
    max-width: 52rem;
}

.weight-normal {
    font-weight: normal !important;
}

.main-wrapper .logo-wrapper img {
    max-height: 5rem;
    margin-bottom: calc(var(--base-spacing-xlarge) / 2);
}

@media screen and (max-width: 767px) {
    .main-wrapper .logo-wrapper {
        display: none;
    }
}

.product-title h1 > :not(.text-highlight-gradient) {
    font-family: 'Zilla Slab', sans-serif;
    font-size: 5rem;
}

@media screen and (max-width: 767px) {
    .product-title h1 > :not(.text-highlight-gradient) {
        font-size: 3rem;
    }
}

.product-title h1 > :first-child {
    letter-spacing: -0.15rem;
}

.product-title .weight-normal {
    color: var(--main);
    opacity: .65;
}

.product-description {
    margin-top: 8px;
}

.product-description p:first-child {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 32px 0;
}

.product-description p:not(:first-child) {
    font-size: 1rem;
}

.buttons {
    justify-content: center;
    gap: 1rem;
}

:is(.button, .button-secondary).is-large {
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-size: 1rem;
}

.button-secondary {
    color: var(--main);
}

.button-secondary:hover {
    background: var(--indigo-400);
    color: var(--base-white);
}

section.section-light {
    background-color: var(--base-white);
}

section.section-dark {
    background-color: color-mix(in srgb, var(--indigo-100) 5%, transparent);
    /*color: var(--base-white);*/
}

article p {
    margin: var(--base-spacing-tiny) 0;
}

article :is(h1, h2, strong) {
    position: relative;
    z-index: 99;
}

article :is(h1, h2):not(.no-decoration) {
    display: inline-block;
    padding: 0 .2rem;
}

/* Colored fake underline */
article :is(h1, h2, strong:not(pre strong)):not(.no-decoration)::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    height: 30%;
    background: color-mix(in srgb, var(--indigo-300) 15%, transparent);
    z-index: -1;
}

article h2 {
    margin-bottom: var(--base-spacing-medium);
}

article h3 {
    margin-top: var(--base-spacing-xxlarge);
    margin-bottom: var(--base-spacing-small);
}

article p {
    font-size: 1rem;
}

article a {
    color: var(--main);
    text-decoration: underline;
}

.section-dark article a {
    color: var(--indigo-100);
}

pre {
    background-color: color-mix(in srgb, var(--indigo-300) 12%, var(--base-white));
    border-radius: 6px;
    padding: .6rem 1rem;
    box-shadow: 0 4px 12px color-mix(in srgb, var(--indigo-800) 12%, transparent);
    border-style: solid;
    border-color: color-mix(in srgb, var(--indigo-300) 30%, transparent);
    border-bottom-color: var(--indigo-300);
    border-width: 1px 1px 2px 1px;
}

/*.section-dark pre {
    background-color: color-mix(in srgb, var(--grey-700) 40%, black);
    border-color: var(--grey-500)
}*/

code {
    font-family: 'JetBrains Mono', monospace;
    font-size: .9rem;
}

.code-overview {
    align-items: flex-start !important;
}

@media screen and (max-width: 767px) {
    .code-overview {
        flex-wrap: wrap;
        gap: var(--base-spacing-tiny) !important;
    }
}

.installation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0 var(--base-spacing-medium);
}

.installation p {
    text-align: end;
}

.installation a {
    text-decoration: none;
}

.installation pre {
    width: 55vw;
    overflow-x: auto;
}
