// Emulates rem sizing, while allowing for em scaling.
@function derive-size($rem-size) {
  @return calc($rem-size / var(--h-font-scale, 1.5));
}

@mixin progressive-heading-margins($multiplier: 1, $bottomAddition: 0) {
  h1 {
    line-height: derive-size(3.25em * $multiplier);
    margin-bottom: derive-size(1.625em * $multiplier + $bottomAddition);
  }

  h2 {
    line-height: derive-size(2em * $multiplier);
    margin-top: derive-size(3em * $multiplier);
  }

  h3 {
    margin-top: derive-size(2.5em * $multiplier);
  }

  h4 {
    margin-top: derive-size(2em * $multiplier);
  }

  h5 {
    margin-top: derive-size(1.8em * $multiplier);
  }

  h6 {
    margin-top: derive-size(2.5rem * $multiplier);
  }

  h3, h4, h5, h6 {
    line-height: derive-size(1.625em * $multiplier);
  }

  h1 + h2 {
    margin-top: derive-size(1.625em * $multiplier);
  }

  h2 + h3,
  h3 + h4,
  h4 + h5 {
    margin-top: derive-size(0.8em * $multiplier);
  }

  h5 + h6 {
    margin-top: derive-size(0.8rem * $multiplier);
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: derive-size(0.8em * $multiplier + $bottomAddition);
  }
}