<!DOCTYPE html>
<!--suppress ALL -->
<html[[if:LANG]] lang="[[LANG]]"[[endif:LANG]]>
<head>
    <meta name="generator" content="Quarkdown">
    <meta charset="UTF-8">
    [[if:DESCRIPTION]]
    <meta name="description" content="[[DESCRIPTION]]">
    [[endif:DESCRIPTION]]
    [[if:KEYWORDS]]
    <meta name="keywords" content="[[KEYWORDS]]">
    [[endif:KEYWORDS]]
    [[if:AUTHORS]]
    <meta name="author" content="[[AUTHORS]]">
    [[endif:AUTHORS]]
    <meta name="viewport" content="width=device-width, initial-scale=1.0[[if:SLIDES]], maximum-scale=1.0, user-scalable=no[[endif:SLIDES]]">
    <meta name="quarkdown:root-path" content="[[ROOTPATH]]">
    [[if:DOCS]]<meta name="quarkdown:search-index" content="[[ROOTPATH]]/search-index.json">[[endif:DOCS]]
    <title>[[TITLE]]</title>
    <script src="[[ROOTPATH]]/script/quarkdown.js"></script>
    <script>const capabilities = window.quarkdownCapabilities</script>
    [[if:PAGED]]
    <script>window.PagedConfig = {auto: false};</script>
    <script src="https://unpkg.com/pagedjs@0.4.3/dist/paged.polyfill.js"></script>
    [[endif:PAGED]]
    [[if:SLIDES]]
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/reveal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/plugin/notes/notes.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/reveal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/theme/white.css">
    [[endif:SLIDES]]
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="[[ROOTPATH]]/theme/theme.css">
    [[if:CODE]]
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.9.0/highlightjs-line-numbers.min.js"></script>
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"/>
    <script>capabilities.code = true;</script>
    [[endif:CODE]]
    [[if:MATH]]
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6" crossorigin="anonymous"></script>
    <script>
        capabilities.math = true;

        window.texMacros = {
            [[for:TEXMACRO]]
            [[TEXMACRO]],
            [[endfor:TEXMACRO]]
        }
    </script>
    [[endif:MATH]]
    [[if:MERMAID]]
    <script src="https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.min.js"></script>
    <script>capabilities.mermaid = true;</script>
    [[endif:MERMAID]]

    <style>
        [[for:FONTFACE]]
        [[FONTFACE]]
        [[endfor:FONTFACE]]

        body {
            [[if:MAINFONTFAMILY]]--qd-main-custom-font: [[MAINFONTFAMILY]];[[endif:MAINFONTFAMILY]]
            [[if:HEADINGFONTFAMILY]]--qd-heading-custom-font: [[HEADINGFONTFAMILY]];[[endif:HEADINGFONTFAMILY]]
            [[if:CODEFONTFAMILY]]--qd-code-custom-font: [[CODEFONTFAMILY]];[[endif:CODEFONTFAMILY]]
            [[if:FONTSIZE]]--qd-main-font-size: [[FONTSIZE]];[[endif:FONTSIZE]]
            [[if:PAGEWIDTH]]--qd-content-width: [[PAGEWIDTH]];[[endif:PAGEWIDTH]]
            [[if:COLUMNCOUNT]]--qd-column-count: [[COLUMNCOUNT]];[[endif:COLUMNCOUNT]]
            [[if:HALIGNMENT_LOCAL]]
            --qd-horizontal-alignment-local: [[HALIGNMENT_LOCAL]] !important;
            --qd-horizontal-alignment-global: unset !important;
            --qd-horizontal-alignment-list-items: unset !important;
            [[endif:HALIGNMENT_LOCAL]]
            [[if:HALIGNMENT_GLOBAL]]
            --qd-horizontal-alignment-global: [[HALIGNMENT_GLOBAL]] !important;
            --qd-horizontal-alignment-local: [[HALIGNMENT_GLOBAL]] !important;
            [[endif:HALIGNMENT_GLOBAL]]
            [[if:PAGEBORDERWIDTH]]
            --qd-page-content-border-width: [[PAGEBORDERWIDTH]];
            --qd-page-content-border-style: solid;
            [[endif:PAGEBORDERWIDTH]]
            [[if:PAGEBORDERCOLOR]]
            --qd-page-content-border-color: [[PAGEBORDERCOLOR]];
            --qd-page-content-border-style: solid;
            [[endif:PAGEBORDERCOLOR]]
            [[if:PARAGRAPHLINEHEIGHT]]--qd-line-height: [[PARAGRAPHLINEHEIGHT]];[[endif:PARAGRAPHLINEHEIGHT]]
            [[if:PARAGRAPHLETTERSPACING]]--qd-letter-spacing: [[PARAGRAPHLETTERSPACING]];[[endif:PARAGRAPHLETTERSPACING]]
            [[if:PARAGRAPHSPACING]]--qd-paragraph-vertical-margin: [[PARAGRAPHSPACING]];[[endif:PARAGRAPHSPACING]]
        }

        .page-break {
            break-before: always;
        }

        .quarkdown-plain .page-break {
            break-before: avoid;
            break-after: avoid;
        }

        body.quarkdown-plain.quarkdown-plain,
        body.quarkdown-docs.quarkmarkdown-docs {
            [[if:PAGEMARGIN]]margin: [[PAGEMARGIN]];[[endif:PAGEMARGIN]]
        }

        body.quarkdown-slides.quarkdown-slides .reveal {
            [[if:PAGEWIDTH]]width: [[PAGEWIDTH]];[[endif:PAGEWIDTH]]
            [[if:PAGEHEIGHT]]height: [[PAGEHEIGHT]];[[endif:PAGEHEIGHT]]
        }

        @page {
            size: [[if:PAGEWIDTH]][[PAGEWIDTH]][[endif:PAGEWIDTH]][[if:!PAGEWIDTH]]auto[[endif:!PAGEWIDTH]] [[if:PAGEHEIGHT]][[PAGEHEIGHT]][[endif:PAGEHEIGHT]][[if:!PAGEHEIGHT]]auto[[endif:!PAGEHEIGHT]];
            [[if:PAGEMARGIN]]margin: [[PAGEMARGIN]];[[endif:PAGEMARGIN]]
            [[if:PLAIN]][[if:!PAGEMARGIN]]margin: 0;[[endif:!PAGEMARGIN]][[endif:PLAIN]]
        }

        p {
            [[if:PARAGRAPHINDENT]]--qd-paragraph-text-indent: [[PARAGRAPHINDENT]];[[endif:PARAGRAPHINDENT]]
        }
    </style>
    <script>
        [[if:PLAIN]]
        const doc = new PlainDocument();
        [[endif:PLAIN]]
        [[if:SLIDES]]
        const doc = new SlidesDocument();
        [[endif:SLIDES]]
        [[if:PAGED]]
        const doc = new PagedDocument();
        [[endif:PAGED]]
        [[if:DOCS]]
        const doc = new DocsDocument();
        [[endif:DOCS]]
        prepare(doc);
    </script>
    <template id="sidebar-template">
        <nav class="sidebar" role="doc-toc">
            [[SIDEBAR]]
        </nav>
    </template>
</head>
<body class="quarkdown quarkdown-[[DOCTYPE]][[if:COLUMNCOUNT]] multicolumn[[endif:COLUMNCOUNT]]">
[[if:PLAIN]]
<aside id="margin-area-left" class="margin-area"></aside>
<main>
    [[CONTENT]]
</main>
<aside id="margin-area-right" class="margin-area"></aside>
[[endif:PLAIN]]
[[if:SLIDES]]
<div class="reveal">
    <div class="slides">
        [[CONTENT]]
    </div>
</div>
[[endif:SLIDES]]
[[if:PAGED]]
[[CONTENT]]
[[endif:PAGED]]
[[if:DOCS]]
<header>
    <aside class="margin-area"></aside>
    <main>
        <div class="search-wrapper">
            <div class="search-field">
                <i class='bi bi-search'></i>
                <input id="search-input" type="text" placeholder="Search" autocomplete="off">
                <kbd>/</kbd>
            </div>
        </div>
    </main>
    <aside class="margin-area"></aside>
</header>
<div class="content-wrapper">
    <aside id="margin-area-left" class="margin-area">
        <div class="position-top"></div>
        <div class="position-middle"></div>
        <div class="position-bottom"></div>
    </aside>
    <main>
        [[CONTENT]]
        <div id="footnote-area"><div class="footnote-rule"></div></div>
        <div id="sibling-pages-button-area"></div>
        <footer>
            <div class="position-left"></div>
            <div class="position-center"></div>
            <div class="position-right"></div>
        </footer>
    </main>
    <aside id="margin-area-right" class="margin-area">
        <div class="position-top"></div>
        <div class="position-middle"></div>
        <div class="position-bottom"></div>
    </aside>
</div>
[[endif:DOCS]]
</body>
</html>