<!DOCTYPE html>
<!--suppress ALL -->
<html[[if:LANG]] lang="[[LANG]]"[[endif:LANG]]>
<head>
    <meta charset="UTF-8">
    <title>[[TITLE]]</title>
    <script src="script/quarkdown.js"></script>
    [[if:PAGED]]
    <script>window.PagedConfig = {auto: false};</script>
    <script src="https://unpkg.com/pagedjs@0.4.3/dist/paged.polyfill.js"></script>
    [[endif:PAGED]]
    [[if:SLIDES]]
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/reveal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/plugin/notes/notes.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/reveal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.1/theme/white.css">
    [[endif:SLIDES]]
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="theme/theme.css">
    [[if:CODE]]
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.9.0/highlightjs-line-numbers.min.js"></script>
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"/>
    [[endif:CODE]]
    [[if:MATH]]
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6" crossorigin="anonymous"></script>
    <script>
        window.texMacros = {
            [[for:TEXMACRO]]
            [[TEXMACRO]],
            [[endfor:TEXMACRO]]
        }
    </script>
    [[endif:MATH]]

    <style>
        [[for:FONTFACE]]
        [[FONTFACE]]
        [[endfor:FONTFACE]]

        body {
            [[if:MAINFONTFAMILY]]--qd-main-font: '[[MAINFONTFAMILY]]';[[endif:MAINFONTFAMILY]]
            [[if:HEADINGFONTFAMILY]]--qd-heading-font: '[[HEADINGFONTFAMILY]]';[[endif:HEADINGFONTFAMILY]]
            [[if:CODEFONTFAMILY]]--qd-code-font: '[[CODEFONTFAMILY]]';[[endif:CODEFONTFAMILY]]
            [[if:FONTSIZE]]--qd-main-font-size: [[FONTSIZE]];[[endif:FONTSIZE]]
            [[if:COLUMNCOUNT]]--qd-column-count: [[COLUMNCOUNT]];[[endif:COLUMNCOUNT]]
            [[if:HALIGNMENT_LOCAL]]
            --qd-horizontal-alignment-local: [[HALIGNMENT_LOCAL]] !important;
            --qd-horizontal-alignment-global: unset !important;
            [[endif:HALIGNMENT_LOCAL]]
            [[if:HALIGNMENT_GLOBAL]]
            --qd-horizontal-alignment-global: [[HALIGNMENT_GLOBAL]] !important;
            --qd-horizontal-alignment-local: unset !important;
            [[endif:HALIGNMENT_GLOBAL]]
            [[if:PAGEBORDERWIDTH]]
            --qd-page-content-border-width: [[PAGEBORDERWIDTH]];
            --qd-page-content-border-style: solid;
            [[endif:PAGEBORDERWIDTH]]
            [[if:PAGEBORDERWIDTH]]
            --qd-page-content-border-width: [[PAGEBORDERWIDTH]];
            --qd-page-content-border-style: solid;
            [[endif:PAGEBORDERWIDTH]]
            [[if:PAGEBORDERCOLOR]]
            --qd-page-content-border-color: [[PAGEBORDERCOLOR]];
            --qd-page-content-border-style: solid;
            [[endif:PAGEBORDERCOLOR]]
            [[if:PARAGRAPHLINEHEIGHT]]--qd-line-height: [[PARAGRAPHLINEHEIGHT]];[[endif:PARAGRAPHLINEHEIGHT]]
            [[if:PARAGRAPHLETTERSPACING]]--qd-letter-spacing: [[PARAGRAPHLETTERSPACING]];[[endif:PARAGRAPHLETTERSPACING]]
            [[if:PARAGRAPHSPACING]]--qd-paragraph-vertical-margin: [[PARAGRAPHSPACING]];[[endif:PARAGRAPHSPACING]]
        }

        .page-break {
            break-before: always;
        }

        .quarkdown-plain .page-break {
            break-before: avoid;
            break-after: avoid;
        }

        body.quarkdown-plain {
            [[if:PAGEMARGIN]]margin: [[PAGEMARGIN]];[[endif:PAGEMARGIN]]
        }

        body.quarkdown-slides .reveal {
            [[if:PAGEWIDTH]]width: [[PAGEWIDTH]];[[endif:PAGEWIDTH]]
            [[if:PAGEHEIGHT]]height: [[PAGEHEIGHT]];[[endif:PAGEHEIGHT]]
        }

        @page {
            size: [[if:PAGEWIDTH]][[PAGEWIDTH]][[endif:PAGEWIDTH]][[if:!PAGEWIDTH]]auto[[endif:!PAGEWIDTH]] [[if:PAGEHEIGHT]][[PAGEHEIGHT]][[endif:PAGEHEIGHT]][[if:!PAGEHEIGHT]]auto[[endif:!PAGEHEIGHT]];
            [[if:PAGEMARGIN]]margin: [[PAGEMARGIN]];[[endif:PAGEMARGIN]]
            [[if:PLAIN]][[if:!PAGEMARGIN]]margin: 0;[[endif:!PAGEMARGIN]][[endif:PLAIN]]
        }

        p {
            [[if:PARAGRAPHINDENT]]--qd-paragraph-text-indent: [[PARAGRAPHINDENT]];[[endif:PARAGRAPHINDENT]]
        }
    </style>
    <script>
        [[if:PLAIN]]
        const doc = new PlainDocument();
        [[endif:PLAIN]]
        [[if:SLIDES]]
        const doc = new SlidesDocument();
        [[endif:SLIDES]]
        [[if:PAGED]]
        const doc = new PagedDocument();
        [[endif:PAGED]]
        prepare(doc);
    </script>
</head>
<body class="quarkdown quarkdown-[[DOCTYPE]][[if:COLUMNCOUNT]] multicolumn[[endif:COLUMNCOUNT]]">
[[if:PLAIN]]
<aside id="margin-area-left" class="margin-area"></aside>
<main>
    [[CONTENT]]
</main>
<aside id="margin-area-right" class="margin-area"></aside>
[[endif:PLAIN]]
[[if:SLIDES]]
<div class="reveal">
    <div class="slides">
        [[CONTENT]]
    </div>
</div>
[[endif:SLIDES]]
[[if:PAGED]]
[[CONTENT]]
[[endif:PAGED]]
[[if:MERMAID]]
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    initMermaid(mermaid);
</script>
[[endif:MERMAID]]
</body>
</html>