/* LaTeX Beamer layout theme */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

:root {
    --reveal-center-vertically: false;
    --qd-main-font: "Source Sans Pro", sans-serif;
    --qd-heading-font: "Fira Sans", sans-serif;
    --qd-block-margin: 32px;
    --qd-box-margin-multiplier: 1.2;
}

.reveal .slides > section {
    text-align: start;
}

h1 {
    font-size: 1.77em;
    padding: 12px;
}

h2 {
    font-size: 1.30em;
}

h3 {
    font-size: .95em;
}

h4 {
    font-size: .75em;
}

p {
    line-height: 1.3;
}

ol, ul {
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table th {
    font-weight: bold;
}

table th,
table td {
    text-align: left;
    padding: 0.2em 0.5em;
    border-bottom: 1px solid;
}

table tr:last-child td {
    border-bottom: none;
}

.box {
    border-radius: 8px;
}

.box > header {
    padding: 12px;
    border-radius: 8px 8px 0 0;
}

.box:has(> header) > .box-content {
    margin-top: 0;
}

.box > .box-content ul {
    padding-left: 4px;
}

.color-preview {
    margin: 0 0.2em;
    border-radius: 100%;
    border: 0.1em solid;
}

/* Footer */

.page-margin-bottom-center {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.page-margin-bottom-center > * {
    width: 100%;
    padding: 12px;
    margin-bottom: 0 !important;
    text-align: center;
}