/* Inspired by latex-css https://github.com/vincentdoerig/latex-css */

@import url('https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css');
@import url('https://cdn.jsdelivr.net/gh/sugina-dev/latin-modern-web@1.0.1/style/latinmodern-mono.css');

:root {
    --qd-main-font: "Computer Modern Serif", sans-serif;
    --qd-main-font-size: 1rem;
    --qd-heading-margin: 1.4em 0 1em 0;
    --qd-code-font: "Latin Modern Mono", monospace;
    --qd-code-span-font-size: 0.93em;
    --qd-slides-code-block-font-size: 1.5em;
    --qd-block-margin: 1.8em;
    --qd-paragraph-vertical-margin: 1.5em;
    --qd-line-height: 1.5;
    --qd-location-suffix: " ";
    --qd-slides-horizontal-alignment: start;
    --qd-table-default-cell-alignment: start;
    --qd-quote-type-label-suffix: ". ";

    --border-width-thick: 2px;
    --border-width-thin: 1px;
    --table-border-color: black;
}

@page {
    margin: 0.85in;
}

/* Headings */

.quarkdown h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin-bottom: 1.625rem;
}

.quarkdown h2 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-top: 3rem;
}

.quarkdown h3 {
    font-size: 1.4rem;
    margin-top: 2.5rem;
}

.quarkdown h4 {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.quarkdown h5 {
    font-size: 1rem;
    margin-top: 1.8rem;
}

.quarkdown h6 {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 2.5rem;
}

.quarkdown :is(h3, h4, h5, h6) {
    line-height: 1.625rem;
}

.quarkdown h1 + h2 {
    margin-top: 1.625rem;
}

.quarkdown h2 + h3,
.quarkdown h3 + h4,
.quarkdown h4 + h5 {
    margin-top: 0.8rem;
}

.quarkdown h5 + h6 {
    margin-top: -0.8rem;
}

.quarkdown :is(h2, h3, h4, h5, h6) {
    margin-bottom: 0.8rem;
}

.quarkdown a {
    text-decoration: underline;
}

/* Table */

.quarkdown pre table {
    --border-width-thick: 0;
    --border-width-thin: 0;
}

.quarkdown table:not(pre table) {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    max-width: 100%;
    border-top: var(--border-width-thick) solid;
    border-bottom: var(--border-width-thick) solid;
}

/* add bottom border on column table headings  */
.quarkdown table tr > th[scope='col'] {
    border-bottom: var(--border-width-thin) solid;
}

/* add right border on row table headings  */
.quarkdown table tr > th[scope='row'] {
    border-right: var(--border-width-thin) solid;
}

.quarkdown table > tbody > tr:first-child > td,
.quarkdown table > tbody > tr:first-child > th {
    border-top: var(--border-width-thin) solid;
}

.quarkdown table > tbody > tr:last-child > td,
.quarkdown table > tbody > tr:last-child > th {
    border-bottom: var(--border-width-thin) solid;
}

.quarkdown :is(th, td) {
    padding: 0.5rem;
    line-height: 1.1;
}

/* Quotes */

blockquote {
    border-left: 2px solid;
}

.quarkdown blockquote {
    padding: 4px 1.5em;
    font-style: italic;
}

.quarkdown blockquote > :first-child {
    margin-top: 10px;
}

.quarkdown blockquote > :last-child {
    margin-bottom: 10px;
}

/* Tip, note, warning, ... */
.quarkdown blockquote[class] {
    font-style: normal;
}

.quarkdown blockquote .attribution {
    text-align: end;
}

/* Box */

.box.callout {
    border-color: var(--box-header-background-color) !important;
    border-left: 2px solid;
    border-radius: 8px 8px 8px 0;
}

.box.callout > .box-content {
    background-color: var(--qd-background-color);
}

.box.callout:not(:has(> header)) {
    border-top: 16px solid;
}

/* Code span */

.codespan-content {
    border-radius: 8px;
    background: none !important;
}

.color-preview {
    margin: 0 0.3em 0 0.4em;
    border-radius: 3px;
}

[data-location]::before {
    padding-right: 0.85rem;
}

/* Table of contents */

.quarkdown h1#table-of-contents {
    text-align: start;
}

.quarkdown nav a {
    text-decoration: none;
}

.quarkdown nav ol {
    margin: 0;
    padding-left: 0;
}

.quarkdown nav > ol ol {
    padding-left: 2rem;
}

.quarkdown nav > ol > li {
    margin-top: 20px;
}

.quarkdown nav > ol > li > a {
    font-weight: bold;
}

.quarkdown nav li {
    margin-top: 7px;
    list-style-type: none; /* Only numbering-generated bullets are shown */
}