/* Inspired by latex-css https://github.com/vincentdoerig/latex-css */

@import url('https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css');
@import url('https://cdn.jsdelivr.net/gh/sugina-dev/latin-modern-web@1.0.1/style/latinmodern-mono.css');

:root {
    --qd-main-font: "Computer Modern Serif", sans-serif;
    --qd-main-font-size: 1rem;
    --qd-heading-margin: 1.4em 0 1em 0;
    --qd-code-font: "Latin Modern Mono", monospace;
    --qd-code-span-font-size: 0.93em;
    --qd-slides-code-block-font-size: 1.5em;
    --qd-block-margin: 1.8em;
    --qd-paragraph-vertical-margin: 1.5em;
    --qd-line-height: 1.5;
    --qd-slides-horizontal-alignment: start;
    --qd-quote-type-label-suffix: ". ";

    --border-width-thick: 2px;
    --border-width-thin: 1px;
    --table-border-color: black;
}

@page {
    margin: 0.85in;
}

/* Headings */

h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin-bottom: 1.625rem;
}

h2 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-top: 3rem;
}

h3 {
    font-size: 1.4rem;
    margin-top: 2.5rem;
}

h4 {
    font-size: 1.2rem;
    margin-top: 2rem;
}

h5 {
    font-size: 1rem;
    margin-top: 1.8rem;
}

h6 {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 2.5rem;
}

h3,
h4,
h5,
h6 {
    line-height: 1.625rem;
}

h1 + h2 {
    margin-top: 1.625rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
    margin-top: 0.8rem;
}

h5 + h6 {
    margin-top: -0.8rem;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.8rem;
}

/* Table */

pre table {
    --border-width-thick: 0;
    --border-width-thin: 0;
}

table:not(pre table) {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    max-width: 100%;
    border-top: var(--border-width-thick) solid;
    border-bottom: var(--border-width-thick) solid;
}

/* add bottom border on column table headings  */
table tr > th[scope='col'] {
    border-bottom: var(--border-width-thin) solid;
}

/* add right border on row table headings  */
table tr > th[scope='row'] {
    border-right: var(--border-width-thin) solid;
}

table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
    border-top: var(--border-width-thin) solid;
}

table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
    border-bottom: var(--border-width-thin) solid;
}

th, td {
    text-align: left;
    padding: 0.5rem;
    line-height: 1.1;
}

/* Quotes */

blockquote {
    padding: 4px 1.5em !important;
    border-left: 2px solid;
    font-style: italic;
}

blockquote > :first-child {
    margin-top: 10px;
}

blockquote > :last-child {
    margin-bottom: 10px;
}

/* Tip, note, warning, ... */
blockquote[class] {
    font-style: normal;
}

blockquote .attribution {
    text-align: end;
}

/* Box */

.box {
    border-left: 2px solid;
    border-radius: 8px;
}

.box > header {
    border-radius: 6px 6px 0 0;
}

.box.box {
    border-color: var(--qd-callout-box-header-color);
}

.box.callout:has(> header) {
    border-radius: 8px 8px 8px 0;
}

.box.callout:not(:has(> header)) {
    border-radius: 0;
}

.box.callout > .box-content {
    background-color: var(--qd-background-color) !important;
}

/* Code span */

.codespan-content {
    border-radius: 8px;
    background: none !important;
}

.color-preview {
    margin: 0 0.3em 0 0.4em;
    border-radius: 3px;
}

/* Table of contents */

h1#table-of-contents {
    text-align: start !important;
}

nav ol {
    margin: 0;
}

nav > ol > li {
    margin: 20px 0;
}

nav > ol > li > a {
    font-weight: bold;
}

nav li {
    margin-top: 7px;
}