@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --qd-main-font: "Lato", sans-serif;
    --qd-heading-font: "Inter", sans-serif;
    --qd-code-font-size: 1.5em;
    --qd-block-margin: 1.8em;
}

h1 {
    font-size: 3.5em !important;
}

h2 {
    font-size: 2.75em !important;
}

h3 {
    font-size: 2.25em !important;
}

h4 {
    font-size: 1.75em !important;
}

h5 {
    font-size: 1.5em !important;
}

h6 {
    font-size: 1.25em !important;
}

ol, ul {
    line-height: 1.5;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table th, table td {
    padding: 0.5em 1em !important;
    border: 1px solid;
}

/* Only internal table borders */

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

blockquote {
    background-color: transparent;
    border-left: 0.5em solid;
    padding: 0;
}

.box {
    border-radius: 10px;
}

.box > header {
    font-size: 0.6em;
    padding: 12px;
    border-radius: 8px 8px 0 0;
}

p code {
    font-size: 1.2em;
}

.codespan-content {
    padding: 0.1em 0.6em;
    border-radius: 8px;
}

.color-preview {
    margin-left: 0.4em;
    border-radius: 3px;
    border: 0.1em solid color-mix(in srgb, currentColor 60%, transparent);
}

/* Footer */

.page-margin-bottom-center {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.page-margin-bottom-center > * {
    width: 100%;
    padding: 16px;
    margin: 0 !important;
    text-align: center;
    border-top: 2px solid;
    border-color: inherit;
}

.page-margin-bottom-center > *:first-child {
    margin-left: 64px !important;
}

.page-margin-bottom-center > *:last-child {
    margin-right: 64px !important;
}