@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

:root {
    --qd-main-font: "Lato", sans-serif;
    --qd-heading-font: "Inter", sans-serif;
    --qd-heading-margin: 60px 0 30px 0;
    --qd-code-font: "Noto Sans Mono", monospace;
    --qd-slides-code-block-font-size: 1.3em;
    --qd-code-span-font-size: 0.9em;
    --qd-block-margin: 1.8em;
    --qd-line-height: 1.8;
    --qd-code-line-height: 1.85;
    --qd-location-suffix: "";
    --qd-box-border-radius: 10px;
}

.quarkdown h1 {
    font-size: 3.5em;
}

.quarkdown h2 {
    font-size: 2.75em;
}

.quarkdown h3 {
    font-size: 2.25em;
}

.quarkdown h4 {
    font-size: 1.75em;
}

.quarkdown h5 {
    font-size: 1.5em;
}

.quarkdown h6 {
    font-size: 1.25em;
}

.quarkdown :is(ul, ol) {
    line-height: 1.5;
}

.quarkdown table {
    border-spacing: 0;
    border-collapse: collapse;
}

.quarkdown table:not(pre table) :is(th, td) {
    padding: 0.5em 1em !important;
    border: 1px solid;
}

/* Only internal table borders */

.quarkdown table tr:first-child th {
    border-top: 0;
}

.quarkdown table tr:last-child td {
    border-bottom: 0;
}

.quarkdown table tr :is(td:first-child, th:first-child) {
    border-left: 0;
}

.quarkdown table tr :is(td:last-child, th:last-child) {
    border-right: 0;
}

.quarkdown blockquote {
    font-style: italic;
    border-left: 0.4em solid;
    padding-left: 1em;
    padding-right: 1em;
}

.quarkdown figure img {
    margin-bottom: 0.5em !important;
}

.quarkdown :is(figure figcaption, table caption) {
    font-size: 0.8em;
    font-style: italic;
}

.box > header {
    font-size: 0.6em;
}

.codespan-content {
    margin: 0 0.2em;
    padding: 0.3em 0.6em;
    border-radius: 8px;
    line-height: normal;
    background-color: color-mix(in srgb, currentColor 9%, transparent);
}

.color-preview {
    margin-left: 0.4em;
    border-radius: 3px;
    border: 0.1em solid color-mix(in srgb, currentColor 60%, transparent);
}

/* Table of contents */

.quarkdown nav ol {
    list-style-type: none;
    margin: 0;
    padding-left: 12px;
}

nav ol ol {
    border-left: 2px solid;
    border-radius: 2px;
    margin-left: 1px;
}

.quarkdown nav ol ol {
    padding: 0 0 0 28px;
}

.quarkdown nav li {
    margin: 4px 0;
}

.quarkdown-slides nav > ol {
    /* Resets the no-clipping workaround because this theme's ToC hides list markers. */
    margin-left: auto;
}

.quarkdown-slides :is(nav, h1#table-of-contents) {
    margin-left: 44px;
}

/* Location prefix of elements. */

[data-location]::before {
    opacity: .3;
    font-weight: normal;
    margin-right: 0.4em;
}

.quarkdown nav [data-location]::before {
    opacity: .5;
}

/* Footer */

.page-margin-bottom-center > * {
    padding: 16px;
    margin: 0 !important;
    border-top: 2px solid;
    border-color: inherit;
}

.page-margin-bottom-center > p {
    line-height: 1;
}

.page-margin-bottom-center > *:first-child {
    margin-left: 64px !important;
}

.page-margin-bottom-center > *:last-child {
    margin-right: 64px !important;
}