@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

:root {
    --qd-main-font: "Lato", sans-serif;
    --qd-heading-font: "Inter", sans-serif;
    --qd-heading-margin: 60px 0 30px 0;
    --qd-code-font: "Noto Sans Mono", monospace;
    --qd-slides-code-block-font-size: 1.3em;
    --qd-code-span-font-size: 0.9em;
    --qd-block-margin: 1.8em;
    --qd-line-height: 1.8;
}

h1 {
    font-size: 3.5em !important;
}

h2 {
    font-size: 2.75em !important;
}

h3 {
    font-size: 2.25em !important;
}

h4 {
    font-size: 1.75em !important;
}

h5 {
    font-size: 1.5em !important;
}

h6 {
    font-size: 1.25em !important;
}

ol, ul {
    line-height: 1.5;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table th, table td {
    padding: 0.5em 1em !important;
    border: 1px solid;
}

/* Only internal table borders */

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

blockquote {
    font-style: italic;
    border-left: 0.4em solid;
    padding: 4px 1em;
}

figure img {
    margin-bottom: 0.5em !important;
}

figure figcaption {
    font-size: 0.8em;
    font-style: italic;
}

.box {
    border-radius: 10px;
}

.box > header {
    font-size: 0.6em;
    padding: 12px;
    border-radius: 8px 8px 0 0;
}

.error-box code {
    font-size: 0.7em;
}

.codespan-content {
    margin: 0 0.2em;
    padding: 0.3em 0.6em;
    border-radius: 8px;
    line-height: normal;
}

.color-preview {
    margin-left: 0.4em;
    border-radius: 3px;
    border: 0.1em solid color-mix(in srgb, currentColor 60%, transparent);
}

/* Table of contents */

nav, h1#table-of-contents {
    margin-left: 44px;
}

nav ol {
    list-style-type: none !important;
}

nav ol ol {
    border-left: 2px solid;
    border-radius: 2px;
    margin-left: 1px !important;
    padding: 0 0 0 28px;
}

nav li {
    margin: 4px 0;
}

/* Footer */

.page-margin-bottom-center {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.page-margin-bottom-center > * {
    width: 100%;
    padding: 16px;
    margin: 0 !important;
    text-align: center;
    border-top: 2px solid;
    border-color: inherit;
}

.page-margin-bottom-center > *:first-child {
    margin-left: 64px !important;
}

.page-margin-bottom-center > *:last-child {
    margin-right: 64px !important;
}