@use "darko";

:root {
  --qd-primary-color: rgb(178, 199, 255);
  --qd-main-color: rgb(208, 210, 217);
  --qd-heading-color: white;
  --qd-link-color: var(--qd-primary-color);
  --qd-background-color: rgb(23, 24, 28);
  --qd-warning-title-foreground-color: var(--qd-warning-background-color);
  --qd-mermaid-node-background-color: white;

  --qd-docs-header-background-color: var(--qd-callout-background-color);
  --qd-docs-separator-border-color: var(--qd-docs-header-background-color);
  --qd-docs-search-border-color: rgb(53, 56, 65);
  --qd-docs-search-focused-border: var(--qd-primary-color);
}

.quarkdown {
  .box:not(.error) {
    background: color-mix(in srgb, var(--box-background-color) 5%, transparent);
    --qd-box-header-background-color: color-mix(in srgb, var(--box-header-foreground-color) 6%, transparent);

    border-style: solid;
    border-color: var(--box-header-foreground-color);
    border-width: 1px 3px 1px 2px;

    &.warning {
      --qd-warning-content-foreground-color: var(--qd-main-color);
    }
  }

  #search-results {
    --qd-docs-separator-border-color: var(--qd-main-color-muted);
  }
}