{{ $footer := .Site.GetPage "footer" }}

<footer id="footer" class="footer-section">
    <div class="page-padding">
        <div class="container-large">
            <div class="grid-12col-base row-gap-0rem is-align-top">
                <div id="w-node-_5834ca98-ddcd-32c3-f6d6-9632f459ad4e-d671f29a" class="show-tablet">
                    <div class="padding-vertical padding-xxxlarge is-fixed">
                        <div class="opacity-20">
                            <div color="" vertical="false" class="divider"></div>
                        </div>
                    </div>
                </div>
                <div id="w-node-_5834ca98-ddcd-32c3-f6d6-9632f459ad51-d671f29a"
                     class="flex-vertical-left flex-gap-1-5rem is-center-tablet"><a
                        href="/" aria-current="page" class="logo-medium w-inline-block">
                    <div class="synthesia-logo-wrapper">
                        <img style="width: 128px;" src="{{ "img/logo.svg" | absURL }}" alt="" class="height-inherit"></div>
                </a>

                    <div class="max-width-37rem">
                        <div class="text-align-left is-center-tablet">
                            <p class="paragraph-small">
                                {{ $footer.Params.description }}
                            </p>
                        </div>
                    </div>

                    <div class="flex-child-stretch">
                        <div class="opacity-20">
                            <div color="" vertical="false" class="divider"></div>
                        </div>
                    </div>
                    <p class="label-regular text-align-center-tablet">{{ $footer.Params.address }}</p>
                </div>

                {{ $links := $footer.Params.links }} <!-- 获取配置中的链接 -->
                {{ $categories := dict }} <!-- 初始化字典，存储每个类别的链接 -->

                <!-- 按照 category 分类链接 -->
                {{ range $index, $link := $links }}
                {{ $linkParts := split $link ", " }}  <!-- 使用逗号分割链接数据 -->
                {{ $category := index $linkParts 0 }}  <!-- 获取类别 -->

                <!-- 如果类别不存在，初始化为空切片 -->
                {{ if not (index $categories $category) }}
                {{ $categories = merge $categories (dict $category (slice $link)) }}
                {{ else }}
                <!-- 如果类别已存在，追加链接到该类别的切片 -->
                {{ $currentCategoryLinks := index $categories $category }}  <!-- 获取当前类别的链接列表 -->
                {{ $updatedLinks := append $currentCategoryLinks (slice $link) }}  <!-- 将新链接追加到类别中 -->
                {{ $categories = merge $categories (dict $category $updatedLinks) }}  <!-- 更新字典 -->
                {{ end }}

                {{ end }}

                <!-- 动态生成布局 -->
                {{ $gridRowStart := 1 }} <!-- 初始化行开始 -->
                {{ $gridRowEnd := 2 }} <!-- 初始化行结束 -->
                {{ $gridColumnStart := 9 }} <!-- 初始化起始列 -->
                {{ $gridColumnEnd := 11 }} <!-- 初始化结束列 -->

                <!-- 遍历每个分类 -->
                {{ range $category, $linksInCategory := $categories }}
                <!-- 显示类别标题 -->
                <div class="flex-vertical flex-gap-075rem" style="grid-area: {{ $gridRowStart }}/{{ $gridColumnStart }}/{{ $gridRowEnd }}/{{ $gridColumnEnd }};">
                    <div class="text-color-indigo-400">
                        <div class="paragraph-medium is-medium">{{ $category }}</div>
                    </div>

                <!-- 每个分类的链接 -->
                {{ range $index, $link := $linksInCategory }}

                {{ $linkParts := split $link ", " }} <!-- 分割链接内容 -->
                {{ $title := index $linkParts 1 }} <!-- 获取标题 -->
                {{ $url := index $linkParts 2 }} <!-- 获取URL -->
                {{ $isReady := index $linkParts 3 }} <!-- 获取是否准备好 -->

                    {{ if eq $isReady "true" }}
                    <a href="{{ $url }}" target="_blank" class="paragraph-small">{{ $title }}</a>
                    {{ else }}
                    <a onclick="showToast()" class="paragraph-small">{{ $title }}</a>
                    {{ end }}

                {{ end }}

                </div>

                <!-- 更新 grid-column 使每个链接水平排列 -->
                {{ $gridColumnStart = add $gridColumnStart 2 }}
                {{ $gridColumnEnd = add $gridColumnEnd 2 }}

                {{ end }}

            </div>
            <div class="hide-tablet">
                <div class="padding-top padding-xxlarge">
                    <div class="padding-bottom padding-small">
                        <div class="opacity-20">
                            <div color="" vertical="false" class="divider"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-space-between is-vertical-tablet flex-gap-1-5rem">
                <p class="label-regular">© {{ now.Format "2006" }} {{ .Site.Title }} Limited. All rights reserved.</p>
                <div class="footerv2_social-wrapper"></div>
            </div>
        </div>
    </div>
</footer>