<h2 class="text-align-center no-decoration">Installation</h2>
<div class="installation">
    <p>Linux / macOS</p>
    <pre><code>curl -fsSL https://raw.githubusercontent.com/quarkdown-labs/get-quarkdown/refs/heads/main/install.sh | sudo env "PATH=$PATH" bash</code></pre>
    <p>macOS (<a href="https://brew.sh/">Homebrew</a>)</p>
    <pre><code>brew tap quarkdown-labs/quarkdown
brew install quarkdown-labs/quarkdown/quarkdown</code></pre>
    <p>Windows (<a href="https://scoop.sh/">Scoop</a>)</p>
    <pre><code>scoop bucket add java
scoop bucket add quarkdown https://github.com/quarkdown-labs/scoop-quarkdown
scoop install quarkdown</code></pre>
</div>

<h3 class="text-align-center">Getting started</h3>
<div class="flex-vertical flex-centre-align">
    <p>
        For a gentle introduction to Quarkdown, please refer to the following resources:
    </p>
    <ul>
        <li><a href="https://github.com/iamgio/quarkdown?tab=readme-ov-file#getting-started"><em>Getting Started</em> on GitHub</a></li>
        <li><a href="https://github.com/iamgio/quarkdown/wiki">Wiki</a></li>
        <li><a href="/docs">Documentation</a></li>
    </ul>
</div>