<h2>Letting ideas flow into paper</h2>
<p>
    <strong>Spend your time actually writing.</strong>
    Designed for a flat learning curve, Quarkdown relies on the well-known Markdown syntax to get you started quickly,
    while providing a modern typesetting engine and scripting layer for full control over your document or presentation.
</p>

<h3>One tool to rule them all</h3>
<p>
    Whether you are writing a research <strong>paper</strong>, a quick <strong>report</strong>, class
    <strong>notes</strong>, a <strong>wiki</strong>,
    or preparing <strong>interactive slides</strong> for your next talk, Quarkdown has you covered with just a single
    instruction:
</p>
<div class="code-overview flex justify-space-between flex-gap-1-5rem flex-grow">
    <div>
        <pre><code>.doctype {<strong>paged</strong>}</code></pre>
        <p class="paragraph-small">For papers, reports, books, and other paged media.</p>
    </div>
    <div>
        <pre><code>.doctype {<strong>plain</strong>}</code></pre>
        <p class="paragraph-small">For knowledge management, notes, articles, and other continuous media.</p>
    </div>
    <div>
        <pre><code>.doctype {<strong>slides</strong>}</code></pre>
        <p class="paragraph-small">For presentations and interactive slideshows.</p>
    </div>
</div>

<h3>Blink and you'll miss it</h3>
<p>
    Thanks to its <strong>blazing fast</strong> compilation and <strong>live preview</strong>, Quarkdown lets you see the results instantly as you type,
    so that you can focus on what matters most.
    <br>
    When you're done, you can export your work to a high-quality <strong>PDF</strong> or <strong>HTML</strong> document.
</p>
