:root {
    /* Quarkdown exposed properties */
    --qd-background-color: inherit;
    --qd-main-color: inherit;
    --qd-heading-color: var(--qd-main-color);
    --qd-link-color: inherit;
    --qd-main-font: inherit;
    --qd-main-font-size: 1em;
    --qd-code-font: monospace;
    --qd-code-span-font-size: var(--qd-main-font-size);
    --qd-code-block-font-size: var(--qd-code-span-font-size); /* Font size of code blocks in non-slides documents */
    --qd-slides-code-block-font-size: var(--qd-code-block-font-size); /* Font size of code blocks in slides documents */
    --qd-heading-font: inherit;
    --qd-block-margin: 32px;
    --qd-heading-margin: 40px 0 20px 0; /* Margin of headings in non-slides documents */
    --qd-slides-heading-margin: 0 0 20px 0; /* Margin of headings in slides documents */
    --qd-box-margin-multiplier: 1.5; /* --qd-block-margin * this = box vertical margin */
    --qd-box-heading-font: var(--qd-main-font);
    --qd-callout-box-header-color: var(--qd-main-color); /* Color of the header of callout box headers. This is just a referenceable value and is not used in this global theme */
    --qd-line-height: 1.5;
    --qd-slides-horizontal-alignment: center; /* Text alignment of slides documents */
    --qd-error-message-collapsed-text-color: rgb(240, 246, 77); /* Color of expandible text in error messages */
    /* Quotes */
    --qd-quote-type-label-suffix: ": "; /* Suffix for localized quote type labels, e.g. Tip, Note, Warning, ... */
    --qd-quote-attribution-prefix: "— "; /* Prefix for quote attributions */
    --qd-quote-foreground-color: var(--qd-main-color);
    --qd-quote-background-color: color-mix(in srgb, var(--qd-quote-foreground-color) 5%, transparent);
    /* Tip elements */
    --qd-tip-foreground-color: rgb(33, 102, 25);
    --qd-tip-background-color: color-mix(in srgb, var(--qd-tip-foreground-color) 5%, transparent);
    /* Note elements */
    --qd-note-foreground-color: rgb(25, 60, 102);
    --qd-note-background-color: color-mix(in srgb, var(--qd-note-foreground-color) 5%, transparent);
    /* Warning elements */
    --qd-warning-foreground-color: rgb(161, 76, 32);
    --qd-warning-background-color: color-mix(in srgb, var(--qd-warning-foreground-color) 5%, transparent);

    /* Reveal properties */
    --r-background-color: var(--qd-background-color);
    --r-main-color: var(--qd-main-color);
    --r-heading-color: var(--qd-heading-color);
    --r-link-color: var(--qd-link-color);
    --r-main-font: var(--qd-main-font);
    --r-main-font-size: var(--qd-main-font-size);
    --r-code-font: var(--qd-code-font);
    --r-heading-font: var(--qd-heading-font);
    --r-block-margin: var(--qd-block-margin);
    --r-heading-margin: var(--qd-slides-heading-margin);
}

.reveal .slides > :is(section, .pdf-page) {
    text-align: var(--qd-slides-horizontal-alignment);
}

body {
    color: var(--qd-main-color);
    font-family: var(--qd-main-font);
    font-size: var(--qd-main-font-size);
}

body:not(:has(.pagedjs_page)), .pagedjs_page {
    background-color: var(--qd-background-color);
}

/* Paged viewport */
body:has(.pagedjs_page) {
    background-color: lightgray;
}

/* Pages area */
.pagedjs_pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3mm;
}

.pagedjs_page {
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
}

/* A divider in a row is vertical instead of horizontal */
.stack-row > hr {
    display: list-item;
    width: auto;
    margin: 0 var(--qd-block-margin);
}

figure {
    text-align: center;
}

blockquote {
    display: block;
    margin: 0;
}

blockquote, .reveal blockquote {
    color: var(--qd-quote-foreground-color);
}

:is(blockquote, .reveal blockquote):not([class]) {
    background-color: var(--qd-quote-background-color);
}

/* Blockquotes with a type (e.g. tip, note, warning, ...) */
blockquote[class] {
    /* This can be overridden by the renderer to display a localized label for each quote type, e.g. 'Tip:' */
    --quote-type-label: "";
}

blockquote[class][data-labeled] :first-child::before {
    content: var(--quote-type-label) var(--qd-quote-type-label-suffix);
    font-weight: bold;
}

blockquote.tip {
    border-color: var(--qd-tip-foreground-color);
    background-color: var(--qd-tip-background-color);
}

blockquote.tip :first-child::before {
    color: var(--qd-tip-foreground-color);
}

blockquote.note {
    border-color: var(--qd-note-foreground-color);
    background-color: var(--qd-note-background-color);
}

blockquote.note :first-child::before {
    color: var(--qd-note-foreground-color);
}

blockquote.warning {
    border-color: var(--qd-warning-foreground-color);
    background-color: var(--qd-warning-background-color);
}

blockquote.warning :first-child::before {
    color: var(--qd-warning-foreground-color);
}

blockquote .attribution {
    opacity: 0.6;
    display: block !important;
    margin-top: 0 !important;
}

blockquote .attribution::before {
    content: var(--qd-quote-attribution-prefix);
}

hr {
    width: 100%;
}

a {
    color: var(--qd-link-color);
}

h1, h2, h3, h4, h5, h6,
p, table:not(code table), pre, figure, blockquote,
ul, ol, hr,
.stack:not(.stack .stack) {
    margin-top: var(--qd-block-margin);
    margin-bottom: var(--qd-block-margin);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--qd-heading-color);
    font-family: var(--qd-heading-font);
    margin: var(--qd-heading-margin);
    text-transform: none !important;
}

p, .reveal p {
    line-height: var(--qd-line-height);
}

/* Line height is set only after the first line */
:is(p, .reveal p)::first-line {
    line-height: 1 !important;
}

/* Reset the margin of the first element in a page */
.pagedjs_page_content > div > *:first-child,
.pagedjs_page_content > div > *[data-hidden]:first-child ~ *:nth-child(2) {
    margin-top: 0 !important;
}

code, .error-box > .box-content {
    font-family: var(--qd-code-font);
}

code:not(pre code) {
    font-size: var(--qd-code-span-font-size);
}

pre code {
    font-size: var(--qd-code-block-font-size);
    font-style: normal !important;
    max-height: none !important;
}

.reveal pre code {
    font-size: var(--qd-slides-code-block-font-size);
}

/* Line numbers are displayed in a table, so no borders by default */
code table :is(td, th) {
    border: 0;
}

/* When an element is marked as focused, other siblings are less visible */
code.focus-lines .hljs-ln-line:not(.focused),
:is(ol, ul):has(> .focused) li:not(.focused) {
    opacity: 0.4;
}

.align {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.align-left {
    text-align: left;
    justify-content: left;
    align-items: start;
}

.align-center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.align-right {
    text-align: right;
    justify-content: right;
    align-items: end;
}

.stack > p, .clip > p {
    margin: 0;
}

.stack > p:empty {
    display: none;
}

.stack-row {
    display: flex;
    flex-direction: row;
}

.stack-column {
    display: flex;
    flex-direction: column;
}

.stack-grid {
    display: grid;
}

.stack-grid > * {
    margin: 0 !important;
}

.clip img {
    margin: 0 !important;
}

.clip-circle {
    clip-path: circle();
}

.size-tiny {
    font-size: 0.5em;
}

.size-small {
    font-size: 0.75em;
}

.size-normal {
    font-size: 1em;
}

.size-medium {
    font-size: 1.25em;
}

.size-larger {
    font-size: 1.5em;
}

.size-large {
    font-size: 2em;
}

.size-huge {
    font-size: 3em;
}

.codespan-content {
    display: inline-flex;
    align-items: center;
}

.color-preview {
    width: 0.5em;
    height: 0.5em;
}

.inline-collapse[data-collapsed="true"] {
    cursor: pointer;
    font-weight: bold;
}

.collapsible-text[data-collapsed="true"] {
    cursor: pointer;
}

.box {
    width: 100%;
    margin-top: calc(var(--qd-box-margin-multiplier) * var(--qd-block-margin));
    margin-bottom: calc(var(--qd-box-margin-multiplier) * var(--qd-block-margin));
}

.box > header p {
    margin: 0;
}

.box > header h4 {
    font-family: var(--qd-box-heading-font);
    margin: 0;
}

.box > .box-content {
    padding: 12px;
}

.box > .box-content > *:first-child,
.box > .box-content li:first-child > p:first-child {
    margin-top: 8px;
}

.box > .box-content > *:last-child,
.box > .box-content li:last-child > p:last-child {
    margin-bottom: 8px;
}

/* Lists have different spacing depending on the target */
.box > .box-content :is(ul, ol) {
    padding-left: 18px;
}

.pagedjs_page .box > .box-content :is(ul, ol) {
    padding-left: 24px;
}

.reveal .box > .box-content :is(ul, ol) {
    padding-left: 4px;
}

/* End of the target-based styling */

/* Box types */

.box.error-box {
    background-color: rgb(224, 67, 64);
    color: white;
}

.box.error-box > .box-content {
    font-size: 0.6em;
}

.box.error-box > .box-content .inline-collapse[data-collapsed="true"] {
    color: var(--qd-error-message-collapsed-text-color);
    background-color: rgba(0, 0, 0, 0.09);
}

.box.warning-box {
    background-color: rgb(244, 206, 94);
}

.box.tip-box {
    background-color: rgb(173, 216, 230);
}

.box.error-box > header > h4 {
    color: white;
}

.box:is(.warning-box, .tip-box) {
    color: #333;
}

.box.tip-box > header > h4 {
    color: rgb(25, 60, 102);
}

/* Box icons */

.box > header > h4::before {
    font-family: 'boxicons', monospace;
    font-weight: normal;
    float: left;
    width: 18px;
    margin-right: 6px;
}

.box:is(.warning-box, .tip-box) > header > h4 {
    margin-right: 24px; /* 18px icon + 6px margin, used to realign text to the center */
    display: flex;
    flex-direction: row;
    align-items: center; /* Align icons */
}

.box.warning-box > header > h4::before {
    content: "\eac5"; /* 'error' (triangle) icon */
}

.box.tip-box > header > h4::before {
    content: "\ecf7"; /* 'bulb' icon */
}

.box:is(.warning-box, .error-box) > header {
    background-color: rgba(0, 0, 0, 0.1);
}

.box.tip-box > header {
    background-color: rgba(25, 60, 102, 0.1);
}

/* End of box styling */

.marker {
    display: none;
}

.reveal pre {
    width: 100% !important;
}

.reveal img {
    max-width: 100% !important;
    max-height: 100% !important;
}

/* Table of contents */

nav {
    text-align: start;
}

/* ToC is scrollable in slides. */
.reveal nav {
    overflow-y: scroll;
    max-height: 50vh;
}

.reveal nav > ol {
    /*
    Content is clipped for some reason when overflow-y is enabled,
    but this isn't needed if the list hides markers.
    */
    margin-left: 24px;
}

h1#table-of-contents {
    text-align: start;
}

nav li a {
    text-decoration: none;
}

nav li a::after {
    /* TOC page counter on supported targets */
    content: target-counter(attr(href), page);
    float: right;
}

span.current-page-number, span.total-page-number {
    display: inline !important;
}

/* Footer */

.page-margin-bottom-center, .page-margin-top-center {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

:is(.page-margin-bottom-center, .page-margin-top-center) > * {
    width: 100%;
    text-align: center;
}

/* Fixed page margins */

.page-margin-content:not(.pagedjs_page .page-margin-content) {
    /* Paged documents have dedicated areas for each margin. Others use absolute positions. */
    position: absolute;
}

.pagedjs_margin-left-top, .pagedjs_margin-right-top {
    display: block;
}

.page-margin-top-left-corner, .page-margin-top-left {
    top: 0;
    left: 0;
}

.page-margin-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.page-margin-top-right-corner, .page-margin-top-right {
    top: 0;
    right: 0;
}

.page-margin-right-top {
    top: 0;
    right: 0;
    rotate: 90deg;
    transform: translateX(50%);
}

.page-margin-right-middle {
    top: 50%;
    right: 0;
    rotate: 90deg;
    transform: translateX(-50%);
}

.page-margin-right-bottom {
    bottom: 0;
    right: 0;
    rotate: 90deg;
    transform: translateX(-50%);
}

.page-margin-bottom-right-corner, .page-margin-bottom-right {
    bottom: 0;
    right: 0;
    transform: translateX(-50%);
}

.page-margin-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.page-margin-bottom-left-corner, .page-margin-bottom-left {
    bottom: 0;
    left: 0;
    transform: translateX(50%);
}

.page-margin-left-bottom {
    bottom: 0;
    left: 0;
    rotate: -90deg;
    transform: translateY(-50%);
}

.page-margin-left-middle {
    top: 50%;
    left: 0;
    rotate: -90deg;
    transform: translateY(-50%);
}

.page-margin-left-top {
    top: 0;
    left: 0;
    rotate: -90deg;
    transform: translateX(-50%);
}

.pagedjs_page .page-margin-content {
    /* Removes translations from the margin content of paged documents */
    transform: none;
}
