:root {
    /* Quarkdown exposed properties */

    /* Colors */
    --qd-background-color: inherit; /* Background color */
    --qd-main-color: inherit; /* Main text color */
    --qd-primary-color: var(--qd-main-color); /* Primary/accent color */
    --qd-color-on-primary: var(--qd-background-color); /* Text color on primary background color */
    --qd-heading-color: var(--qd-main-color); /* Heading (titles) color */
    --qd-link-color: inherit; /* Link color */
    --qd-callout-box-header-color: var(--qd-main-color); /* Color of the header of callout box headers. This is just a referenceable value and is not used in this global theme */
    --qd-collapsed-text-color: var(--qd-link-color); /* Color of expandible text */
    --qd-error-message-collapsed-text-color: rgb(240, 246, 77); /* Color of expandible text in error messages */

    /* Fonts */
    --qd-main-font: inherit;
    --qd-main-font-size: 1em;
    --qd-code-font: monospace;
    --qd-box-heading-font: var(--qd-main-font); /* Font of box headers */
    --qd-code-span-font-size: var(--qd-main-font-size);
    --qd-code-block-font-size: var(--qd-code-span-font-size); /* Font size of code blocks in non-slides documents */
    --qd-slides-code-block-font-size: var(--qd-code-block-font-size); /* Font size of code blocks in slides documents */
    --qd-heading-font: inherit;

    /* Margins */
    --qd-block-margin: 32px; /* Margin of block elements */
    --qd-paragraph-vertical-margin: var(--qd-block-margin); /* Vertical margin of paragraphs preceded by a paragraph */
    --qd-heading-margin: 40px 0 20px 0; /* Margin of headings */
    --qd-box-margin-multiplier: 1.5; /* --qd-block-margin * this = box vertical margin */

    /* Text */
    --qd-line-height: 1.5;
    --qd-location-suffix: ". "; /* Suffix for element (e.g. headings) location numbering */
    --qd-caption-label-suffix: ": "; /* Suffix for labels (e.g. Figure 1.1: ...) in captions */
    --qd-slides-horizontal-alignment: center; /* Text alignment of slides documents */
    --qd-paged-horizontal-alignment: start; /* Text alignment of paged documents */
    /*
    Global text alignment (should not be overridden externally).
    It can equal to either --qd-pages-horizontal-alignment or --qd-slides-horizontal-alignment
    according to the current document type.
    */
    --qd-horizontal-alignment: var(--qd-paged-horizontal-alignment);

    /* Code */
    --qd-code-line-height: var(--qd-line-height); /* Line height of code blocks */
    --qd-code-border-radius: 8px; /* Border radius of code blocks */
    --qd-code-line-numbers-padding: 0 0.8em; /* Padding of line numbers of code blocks. Vertical padding also defines code line height. */
    --qd-code-line-numbers-opacity: 0.6; /* Opacity of line numbers of code blocks */

    /* Quotes */
    --qd-quote-type-label-suffix: ": "; /* Suffix for localized quote type labels, e.g. Tip, Note, Warning, ... */
    --qd-quote-attribution-prefix: "— "; /* Prefix for quote attributions */
    --qd-quote-foreground-color: var(--qd-main-color);
    --qd-quote-background-color: color-mix(in srgb, var(--qd-quote-foreground-color) 5%, transparent);
    /* Tip elements */
    --qd-tip-foreground-color: rgb(33, 102, 25);
    --qd-tip-background-color: color-mix(in srgb, var(--qd-tip-foreground-color) 5%, transparent);
    /* Note elements */
    --qd-note-foreground-color: rgb(25, 60, 102);
    --qd-note-background-color: color-mix(in srgb, var(--qd-note-foreground-color) 5%, transparent);
    /* Warning elements */
    --qd-warning-foreground-color: rgb(161, 76, 32);
    --qd-warning-background-color: color-mix(in srgb, var(--qd-warning-foreground-color) 5%, transparent);
    /* Important elements */
    --qd-important-foreground-color: rgb(145, 34, 34);
    --qd-important-background-color: color-mix(in srgb, var(--qd-important-foreground-color) 5%, transparent);

    /* Boxes */
    --qd-box-section-padding: 12px 16px; /* Padding of box sections (header and content) */

    /* Reveal properties */
    --r-background-color: var(--qd-background-color);
    --r-main-color: var(--qd-main-color);
    --r-heading-color: var(--qd-heading-color);
    --r-link-color: var(--qd-link-color);
    --r-main-font: var(--qd-main-font);
    --r-main-font-size: var(--qd-main-font-size);
    --r-code-font: var(--qd-code-font);
    --r-heading-font: var(--qd-heading-font);
    --r-block-margin: var(--qd-block-margin);
    --r-heading-margin: var(--qd-heading-margin);

    /* Injected properties. These are injected from html-wrapper depending on the user's preferences. Here are default values. */
    --property-column-count: unset;
}

body {
    color: var(--qd-main-color);
    font-family: var(--qd-main-font);
    font-size: var(--qd-main-font-size);
    text-align: var(--qd-horizontal-alignment);
}

body:not(:has(.pagedjs_page)), .pagedjs_page {
    background-color: var(--qd-background-color);
}

body:not(:has(.pagedjs_page), :has(.reveal)) {
    column-count: var(--property-column-count);
}

/* Slides viewport */
.reveal {
    --qd-horizontal-alignment: var(--qd-slides-horizontal-alignment);
}

.reveal .slides > :is(section, .pdf-page) {
    text-align: var(--qd-slides-horizontal-alignment);
    column-count: var(--property-column-count);
}

/* Paged viewport */
body:has(.pagedjs_page) {
    background-color: lightgray;
}

/* Pages area */
.pagedjs_pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3mm;
}

.pagedjs_page {
    text-align: var(--qd-paged-horizontal-alignment);
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
}

/* In a multi-column layout, these elements span across all columns. */
.full-column-span, h1, h2, h3, nav {
    column-span: all;
}

/* A divider in a row is vertical instead of horizontal */
.stack-row > hr {
    display: list-item;
    width: auto;
    margin: 0 var(--qd-block-margin);
}

/* Not loose. */
li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Loose. */
li:has(p) {
    margin-top: 1em;
    margin-bottom: 1em;
}

figure {
    text-align: center;
}

blockquote {
    display: block;
    margin: 0;
}

blockquote, .reveal blockquote {
    color: var(--qd-quote-foreground-color);
    padding: var(--qd-block-margin);
}

:is(blockquote, .reveal blockquote):not([class]) {
    background-color: var(--qd-quote-background-color);
}

/* Blockquotes with a type (e.g. tip, note, warning, ...) */
blockquote[class] {
    /* This can be overridden by the renderer to display a localized label for each quote type, e.g. 'Tip:' */
    --quote-type-label: "";
    font-style: normal;
}

blockquote[class][data-labeled] > :first-child::before {
    content: var(--quote-type-label) var(--qd-quote-type-label-suffix);
    font-weight: bold;
    font-style: normal;
}

blockquote.tip {
    border-color: var(--qd-tip-foreground-color);
    background-color: var(--qd-tip-background-color);
}

blockquote.tip :first-child::before {
    color: var(--qd-tip-foreground-color);
}

blockquote.note {
    border-color: var(--qd-note-foreground-color);
    background-color: var(--qd-note-background-color);
}

blockquote.note :first-child::before {
    color: var(--qd-note-foreground-color);
}

blockquote.warning {
    border-color: var(--qd-warning-foreground-color);
    background-color: var(--qd-warning-background-color);
}

blockquote.warning :first-child::before {
    color: var(--qd-warning-foreground-color);
}

blockquote.important {
    border-color: var(--qd-important-foreground-color);
    background-color: var(--qd-important-background-color);
}

blockquote.important :first-child::before {
    color: var(--qd-important-foreground-color);
}

blockquote .attribution {
    opacity: 0.6;
    display: block !important;
    margin-top: 0 !important;
}

blockquote .attribution::before {
    content: var(--qd-quote-attribution-prefix);
}

table {
    caption-side: bottom;
}

table > caption {
    margin-top: 1em;
    white-space: nowrap;
    overflow-x: hidden;
}

hr {
    width: 100%;
}

a {
    color: var(--qd-link-color);
    text-decoration: none;
}

/* GFM Tasks */
.task-list-item {
    list-style-type: none;
}

.task-list-item input[type="checkbox"]:first-child {
    margin-right: 1em;
    transform: translateY(1px);
}

:is(ul, ol):has(> .task-list-item) {
    padding-left: 0;
}

/* If a list item has a custom bullet element, the actual content is wrapped in a container */
li:has(> div:nth-child(2)) {
    display: flex;
    align-items: flex-start;
}

/* Vertical spacing. */
table:not(code table), pre, figure, blockquote,
ul, ol, hr,
.stack:not(.stack .stack) {
    margin-top: var(--qd-block-margin);
    margin-bottom: var(--qd-block-margin);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--qd-heading-color);
    font-family: var(--qd-heading-font);
    margin: var(--qd-heading-margin);
    text-transform: none !important;
}

.reveal section > :is(h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 0 !important;
}

details summary {
    cursor: pointer;
    margin-bottom: var(--qd-paragraph-vertical-margin);
}

p, .reveal p {
    line-height: var(--qd-line-height);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

p:empty {
    display: none;
}

p + p:not(.stack > p):not(.page-margin-content > p) {
    margin-top: var(--qd-paragraph-vertical-margin) !important;
}

/* Syllables-based word break in paged documents */
.pagedjs_page_content p {
    hyphens: auto;
}

/* Reset the margin of the first element in a page */
.pagedjs_page_content > div > *:first-child,
.pagedjs_page_content > div > *[data-hidden]:first-child ~ *:nth-child(2) {
    margin-top: 0 !important;
}

code, .box.error > .box-content {
    font-family: var(--qd-code-font);
}

code:not(pre code) {
    font-size: var(--qd-code-span-font-size);
}

pre code {
    font-size: var(--qd-code-block-font-size);
    line-height: var(--qd-code-line-height);
    font-style: normal !important;
    max-height: none !important;
    overflow: hidden;
}

pre, pre code {
    border-radius: var(--qd-code-border-radius);
}

.reveal pre code {
    font-size: var(--qd-slides-code-block-font-size);
}

/* Code block copy button */

.hljs-copy-container.hljs-copy-container {
    --hljs-theme-padding: 16px !important;
    transform: none;
    opacity: 0;
    transition: opacity 300ms ease;
}

.hljs-copy-wrapper:hover .hljs-copy-container {
    opacity: .8;
}

.hljs-copy-button {
    cursor: pointer;
}

/* Code block line numbers. */

.hljs-ln td {
    padding: var(--qd-code-line-numbers-padding) !important;
}

.hljs-ln-numbers {
    opacity: var(--qd-code-line-numbers-opacity);
}

/* Line numbers are displayed in a table, so no borders by default. */
code table :is(td, th) {
    border: 0;
}

/* When an element is marked as focused, other siblings are less visible */
code.focus-lines .hljs-ln-line:not(.focused),
:is(ol, ul):has(.focused) > li:not(.focused, :has(.focused)) {
    opacity: 0.4;
}

/* Elements that contain location data display it accordingly */
[data-location]::before {
    content: attr(data-location) var(--qd-location-suffix);
}

/* Location data in a list item replaces its marker */
li[data-location] {
    list-style-type: none;
}

/*
Elements that reference to a label display it accordingly.
Example: "Figure 1.1:"
*/
[data-element-label]::before {
    content: attr(data-localized-kind) " " attr(data-element-label) var(--qd-caption-label-suffix);
}

/* "Figure 1.1" instead of "Figure 1.1: " if the caption is empty */
[data-element-label]:empty {
    --qd-caption-label-suffix: "";
}

/* Container */

.container {
    display: inline-block;
}

.container.fullwidth {
    display: block;
}

.container:not(.clip > .container) :only-child {
    margin: 0;
}

/* Alignment */

.align {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.align-start {
    text-align: start;
    justify-content: start;
    align-items: start;
}

.align-center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.align-end {
    text-align: end;
    justify-content: end;
    align-items: end;
}

/* Stacks */

:is(.stack, .page-margin-content) > :is(p, h1, h2, h3, h4, h5, h6, figure) {
    margin: 0 !important;
}

.stack-row {
    display: flex;
    flex-direction: row;
}

.stack-column {
    display: flex;
    flex-direction: column;
}

.stack-grid {
    display: grid;
}

.stack-grid > * {
    margin: 0 !important;
}

.container > .stack {
    width: 100%;
    height: 100%;
}

/* Clipping */

.clip {
    --clip-path: none;
}

.clip > .container:not(:has(> figure)) {
    clip-path: var(--clip-path);
}

.clip > .container > figure > :not(figcaption) {
    clip-path: var(--clip-path);
}

.clip-circle {
    --clip-path: circle();
}

/* Sizes */

.size-tiny {
    font-size: 0.5em;
}

.size-small {
    font-size: 0.75em;
}

.size-normal {
    font-size: 1em;
}

.size-medium {
    font-size: 1.25em;
}

.size-larger {
    font-size: 1.5em;
}

.size-large {
    font-size: 2em;
}

.size-huge {
    font-size: 3em;
}

.codespan-content {
    display: inline-flex;
    align-items: center;
}

.color-preview {
    width: 0.5em;
    height: 0.5em;
}

.inline-collapse[data-collapsed="true"] {
    cursor: pointer;
    font-weight: bold;
    color: var(--qd-collapsed-text-color);
    border-bottom: 3px dotted color-mix(in srgb, var(--qd-collapsed-text-color) 28%, transparent);
}

.box.error .inline-collapse[data-collapsed="true"] {
    --qd-collapsed-text-color: var(--qd-error-message-collapsed-text-color);
    background-color: rgba(0, 0, 0, 0.09);
    border: none;
}

.collapsible-text[data-collapsed="true"] {
    cursor: pointer;
}

.box {
    width: 100%;
    margin-top: calc(var(--qd-box-margin-multiplier) * var(--qd-block-margin));
    margin-bottom: calc(var(--qd-box-margin-multiplier) * var(--qd-block-margin));
}

.box > header p {
    margin: 0;
}

.box > header h4 {
    font-family: var(--qd-box-heading-font);
    margin: 0;
}

.box > header, .box > .box-content {
    padding: var(--qd-box-section-padding);
}

.box > .box-content > *:first-child,
.box > .box-content li:first-child > p:first-child {
    margin-top: 8px;
}

.box > .box-content > *:last-child,
.box > .box-content li:last-child > p:last-child {
    margin-bottom: 8px;
}

/* Lists have different spacing depending on the target */
.box > .box-content :is(ul, ol) {
    padding-left: 18px;
}

.pagedjs_page .box > .box-content :is(ul, ol) {
    padding-left: 24px;
}

.reveal .box > .box-content :is(ul, ol) {
    padding-left: 4px;
}

/* End of the target-based styling */

/* Box types */

.box.error {
    background-color: rgb(224, 67, 64);
    color: white;
}

.box.error > .box-content {
    font-size: 0.7em;
}

.box.warning {
    background-color: rgb(244, 206, 94);
}

.box.tip {
    background-color: rgb(175, 230, 173);
}

.box.tip > header > h4 {
    color: rgb(33, 102, 25);
}

.box.tip > header {
    background-color: rgba(33, 102, 25, .1);
}

.box.note {
    background-color: rgb(173, 216, 230);
}

.box.note > header > h4 {
    color: rgb(25, 60, 102);
}

.box.note > header {
    background-color: rgba(25, 60, 102, .1);
}

.box.error > header > h4 {
    color: white;
}

.box:is(.tip, .note, .warning) {
    color: #333;
}

/* Box icons */

.box > header > h4::before {
    font-family: 'boxicons', monospace;
    font-weight: normal;
    float: left;
    width: 18px;
    margin-right: 6px;
    margin-top: 3px;
}

.box:is(.tip, .note, .warning) > header > h4 {
    margin-right: 24px; /* 18px icon + 6px margin, used to realign text to the center */
    display: flex;
    flex-direction: row;
    align-items: center; /* Align icons */
    justify-content: var(--qd-horizontal-alignment);
}

.box.tip > header > h4::before {
    content: "\ea0d"; /* 'bulb' icon */
}

.box.note > header > h4::before {
    content: "\eb21"; /* 'info' icon */
}

.box.warning > header > h4::before {
    content: "\eac5"; /* 'error' (triangle) icon */
}

.box:is(.warning, .error) > header {
    background-color: rgba(0, 0, 0, 0.1);
}

/* End of box styling */

.marker {
    display: none;
}

pre {
    min-width: 20%;
}

.reveal pre:not(.stack > pre) {
    min-width: 100%;
}

.stack > pre {
    width: auto;
    margin: 0;
}

.reveal img, .pagedjs_page img {
    max-width: 100% !important;
    max-height: 100% !important;
}

/* Table of contents */

nav {
    text-align: start;
}

nav ol {
    margin: 0 0 0 1em;
    padding-left: 0;
}

nav ol ol {
    margin-left: 40px;
}

/* ToC is scrollable in slides. */
.reveal nav {
    overflow-y: scroll;
    max-height: 50vh;
}

.reveal nav > ol {
    /*
    Content is clipped for some reason when overflow-y is enabled,
    but this isn't needed if the list hides markers.
    */
    margin-left: 24px;
}

h1#table-of-contents {
    text-align: start;
}

nav li a::after {
    /* TOC page counter on supported targets */
    content: target-counter(attr(href), page);
    float: right;
}

span.current-page-number, span.total-page-number {
    display: inline !important;
}

/* Footer */

.page-margin-bottom-center, .page-margin-top-center {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

:is(.page-margin-bottom-center, .page-margin-top-center) > * {
    width: 100%;
    text-align: center;
}

/* Fixed page margins */

.page-margin-content:not(.pagedjs_page .page-margin-content) {
    /* Paged documents have dedicated areas for each margin. Others use absolute positions. */
    position: absolute;
}

.pagedjs_margin-left-top, .pagedjs_margin-right-top {
    display: block;
}

.page-margin-top-left-corner, .page-margin-top-left {
    top: 0;
    left: 0;
}

.page-margin-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.page-margin-top-right-corner, .page-margin-top-right {
    top: 0;
    right: 0;
}

.page-margin-right-top {
    top: 0;
    right: 0;
    rotate: 90deg;
    transform: translateX(50%);
}

.page-margin-right-middle {
    top: 50%;
    right: 0;
    rotate: 90deg;
    transform: translateX(-50%);
}

.page-margin-right-bottom {
    bottom: 0;
    right: 0;
    rotate: 90deg;
    transform: translateX(-50%);
}

.page-margin-bottom-right-corner, .page-margin-bottom-right {
    bottom: 0;
    right: 0;
    transform: translateX(-50%);
}

.page-margin-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.page-margin-bottom-left-corner, .page-margin-bottom-left {
    bottom: 0;
    left: 0;
    transform: translateX(50%);
}

.page-margin-left-bottom {
    bottom: 0;
    left: 0;
    rotate: -90deg;
    transform: translateY(-50%);
}

.page-margin-left-middle {
    top: 50%;
    left: 0;
    rotate: -90deg;
    transform: translateY(-50%);
}

.page-margin-left-top {
    top: 0;
    left: 0;
    rotate: -90deg;
    transform: translateX(-50%);
}

.pagedjs_page .page-margin-content {
    /* Removes translations from the margin content of paged documents */
    transform: none;
}

/* Experimental fix: Chrome export-to-PDF adds a colored strip to the bottom area. */
@media print {
    .pagedjs_margin, .pagedjs_margin-bottom, .pagedjs_margin-bottom-left-corner-holder, .pagedjs_margin-bottom-right-corner-holder {
        background-color: var(--qd-background-color);
    }
}