:root {
    /* Quarkdown exposed properties */
    --qd-background-color: inherit;
    --qd-main-color: inherit;
    --qd-link-color: inherit;
    --qd-main-font: inherit;
    --qd-main-font-size: 1em;
    --qd-code-font: monospace;
    --qd-code-block-font-size: var(--qd-main-font-size);
    --qd-code-span-font-size: var(--qd-main-font-size);
    --qd-heading-font: inherit;
    --qd-block-margin: 32px;
    --qd-box-margin-multiplier: 1.5; /* --qd-block-margin * this = box vertical margin */
    --qd-box-heading-font: var(--qd-main-font);
    --qd-line-height: 1.5;
    --qd-slides-horizontal-alignment: center; /* Text alignment of slides documents */

    /* Reveal properties */
    --r-background-color: var(--qd-background-color);
    --r-main-color: var(--qd-main-color);
    --r-link-color: var(--qd-link-color);
    --r-main-font: var(--qd-main-font);
    --r-main-font-size: var(--qd-main-font-size);
    --r-code-font: var(--qd-code-font);
    --r-heading-font: var(--qd-heading-font);
    --r-block-margin: var(--qd-block-margin);
}

.reveal .slides > :is(section, .pdf-page) {
    text-align: var(--qd-slides-horizontal-alignment);
}

body {
    background-color: var(--qd-background-color);
    color: var(--qd-main-color);
    font-family: var(--qd-main-font);
    font-size: var(--qd-main-font-size);
}

hr {
    width: 100%;
}

figure {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--qd-heading-font);
    text-transform: none !important;
}

a {
    color: var(--qd-link-color);
}

h1, h2, h3, h4, h5, h6,
p, table, pre, figure, blockquote,
ul, ol, hr,
.stack:not(.stack .stack) {
    margin-top: var(--qd-block-margin);
    margin-bottom: var(--qd-block-margin);
}

.reveal p {
    line-height: var(--qd-line-height);
}

.reveal p::first-line {
    /* Line height is set only after the first line */
    line-height: 1 !important;
}

code {
    font-family: var(--qd-code-font);
}

code:not(pre code) {
    font-size: var(--qd-code-span-font-size);
}

pre code {
    font-size: var(--qd-code-block-font-size);
    max-height: none !important;
}

code.focus-lines .hljs-ln-line:not(.focused) {
    opacity: 0.4;
}

.align {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.align-left {
    text-align: left;
    justify-content: left;
    align-items: start;
}

.align-center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.align-right {
    text-align: right;
    justify-content: right;
    align-items: end;
}

.stack-row {
    display: flex;
    flex-direction: row;
}

.stack-column {
    display: flex;
    flex-direction: column;
}

.stack-grid {
    display: grid;
}

.stack-grid > * {
    margin: 0 !important;
}

.clip img {
    margin: 0 !important;
}

.clip-circle {
    clip-path: circle();
}

.size-tiny {
    font-size: 0.5em;
}

.size-small {
    font-size: 0.75em;
}

.size-normal {
    font-size: 1em;
}

.size-medium {
    font-size: 1.25em;
}

.size-larger {
    font-size: 1.5em;
}

.size-large {
    font-size: 2em;
}

.size-huge {
    font-size: 3em;
}

.codespan-content {
    display: inline-flex;
    align-items: center;
}

.color-preview {
    width: 0.5em;
    height: 0.5em;
}

.box {
    width: 100%;
    margin-top: calc(var(--qd-box-margin-multiplier) * var(--qd-block-margin));
    margin-bottom: calc(var(--qd-box-margin-multiplier) * var(--qd-block-margin));
}

.box > header p {
    margin: 0;
}

.box > header h4 {
    font-family: var(--qd-box-heading-font);
}

.box > .box-content {
    padding: 12px;
}

.box > .box-content p {
    margin: 8px 0;
}

.box.error-box {
    background-color: rgb(224, 67, 64);
    color: white;
}

.page-margin-content {
    position: absolute;
}

.page-margin-top-left-corner, .page-margin-top-left {
    top: 0;
    left: 0;
}

.page-margin-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.page-margin-top-right-corner, .page-margin-top-right {
    top: 0;
    right: 0;
}

.page-margin-right-top {
    top: 0;
    right: 0;
    transform: rotate(90deg) translateX(50%);
}

.page-margin-right-middle {
    top: 50%;
    right: 0;
    transform: rotate(90deg) translateX(-50%);
}

.page-margin-right-bottom {
    bottom: 0;
    right: 0;
    transform: rotate(90deg) translateX(-50%);
}

.page-margin-bottom-right-corner, .page-margin-bottom-right {
    bottom: 0;
    right: 0;
    transform: translateX(-50%);
}

.page-margin-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.page-margin-bottom-left-corner, .page-margin-bottom-left {
    bottom: 0;
    left: 0;
    transform: translateX(50%);
}

.page-margin-left-middle {
    top: 50%;
    left: 0;
    transform: rotate(-90deg) translateY(-50%);
}

.page-margin-left-top {
    top: 0;
    left: 0;
    transform: rotate(-90deg) translateX(-50%);
}

.reveal pre {
    width: 100% !important;
}

.reveal img {
    max-width: 100% !important;
    max-height: 100% !important;
}

.stack > p, .clip > p {
    margin: 0;
}

.table-of-contents {
    text-align: start;
}

h1#table-of-contents {
    text-align: start;
}

.table-of-contents li a {
    text-decoration: none;
}

.table-of-contents li a::after {
    /* TOC page counter on supported targets */
    content: target-counter(attr(href), page);
    float: right;
}
