body {
    font-family: Arial, sans-serif;
}

table, td, th {
    border: 1px black solid;
}

td, th {
    padding: 8px;
}

/* Slides */

h1, h2, h3, h4, h5, h6 {
    text-transform: none !important;
}