.quarkdown {
  .clip {
    --clip-path: none;
  }

  .clip > .container:not(:has(> figure)) {
    clip-path: var(--clip-path);
  }

  .clip > .container > figure > :not(figcaption) {
    clip-path: var(--clip-path);
  }

  .clip-circle {
    --clip-path: circle();
  }
}