body.quarkdown {
  color: var(--qd-main-color);
  font-family: var(--qd-main-font);
  font-size: var(--qd-main-font-size);
  text-align: var(--qd-horizontal-alignment);

  &:not(.quarkdown-paged), &.quarkdown-paged .pagedjs_page {
    background-color: var(--qd-background-color);
  }

  &.quarkdown-plain {
    margin: 32px 15%;
    column-count: var(--property-column-count);
  }

  // Slides viewport
  &.quarkdown-slides {
    --qd-horizontal-alignment: var(--qd-slides-horizontal-alignment);

    .reveal .slides > :is(section, .pdf-page) {
      text-align: var(--qd-slides-horizontal-alignment);
      column-count: var(--property-column-count);
    }
  }

  // Paged viewport
  &.quarkdown-paged {
    background-color: lightgray;

    // Paged rendering is not yet complete
    &:not(:has(.pagedjs_page)) {
      opacity: 0;
    }

    .pagedjs_pages {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3mm;
    }

    .pagedjs_page {
      text-align: var(--qd-paged-horizontal-alignment);
      box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
    }
  }
}