/* LaTeX Beamer layout theme */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

:root {
    --reveal-center-vertically: false;
    --qd-main-font: "Source Sans Pro", sans-serif;
    --qd-heading-font: "Fira Sans", sans-serif;
    --qd-code-font: "Noto Sans Mono", monospace;
    --qd-code-span-font-size: 0.9em;
    --qd-code-block-font-size: 0.75em;
    --qd-slides-code-block-font-size: 1.25em;
    --qd-block-margin: 32px;
    --qd-box-margin-multiplier: 1.2;
    --qd-slides-horizontal-alignment: start;
}

.quarkdown h1 {
    font-size: 2em;
    padding: 12px;
}

.quarkdown h2 {
    font-size: 1.5em;
}

.quarkdown h3 {
    font-size: 1.25em;
}

.quarkdown h4 {
    font-size: 1em;
}

.quarkdown p {
    line-height: 1.3;
}

.quarkdown :is(ul, ol) {
    line-height: 1.5;
}

.quarkdown table {
    border-collapse: collapse;
    border-spacing: 0;
}

.quarkdown table th {
    font-weight: bold;
}

.quarkdown table :is(th, td) {
    text-align: left;
    padding: 0.2em 0.5em;
    border-bottom: 1px solid;
}

.quarkdown table tr:last-child td {
    border-bottom: none;
}

.quarkdown blockquote {
    font-style: italic;
    opacity: 0.7;
    background: none !important;
    padding-left: 0;
    padding-right: 0;
}

.quarkdown blockquote[class] {
    font-style: normal;
}

.quarkdown blockquote .attribution {
    text-align: end;
}

.quarkdown pre code {
    line-height: 1.5;
}

.box {
    border-radius: 8px;
}

.box > header {
    border-radius: 8px 8px 0 0;
}

.box:has(> header) > .box-content {
    margin-top: 0;
}

.codespan-content {
    margin: 0 0.2em;
}

.color-preview {
    margin: 0 0.2em;
    border-radius: 100%;
    border: 0.1em solid;
}

[data-location]::before {
    padding-right: 1rem;
}

/* Table of contents */

.quarkdown nav a:not(:hover) {
    color: var(--qd-main-color) !important;
}

/* First-level entries show their index in a circle */
.quarkdown nav > ol {
    list-style-type: none !important;
    padding-left: 0;
}

.quarkdown nav > ol > li {
    padding-bottom: 0.5em;
}

.quarkdown nav > ol > li::before {
    background-color: var(--qd-primary-color);
    color: var(--qd-color-on-primary);
    border-radius: 100%;
    margin-right: 1em;
    padding: 2px 10px;
    display: inline-block;
    border: 1px solid color-mix(in srgb, var(--qd-color-on-primary) 25%, transparent);
}

/* Not-first-level entries use a bullet */
.quarkdown nav > ol ol {
    list-style-type: disc !important;
    padding-left: 1.35em;
}

.quarkdown nav > ol ol li::marker {
    color: var(--qd-primary-color);
    border: 1px solid var(--qd-color-on-primary);
}

.quarkdown nav > ol > li > ol {
    padding-left: 36px;
}

/* Third-level (or more) entries */
.quarkdown nav > ol > li > ol ol {
    margin-left: 0;
}

/* Footer */

.page-margin-bottom-center > * {
    padding: 12px;
    margin-bottom: 0 !important;
}