@use "util/progressive-heading-sizes" as *;
@use "util/progressive-heading-margins" as *;
@use "util/minimal-tables" as *;
@use "util/minimal-toc" as *;
@use "util/minimal-footer" as *;
@use "../components/util/location-selectors" as location-selectors;
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

:root {
  --qd-main-font: "Lato", sans-serif;
  --qd-heading-font: "Inter", sans-serif;
  --qd-heading-margin: 60px 0 30px 0;
  --qd-code-font: "Noto Sans Mono", monospace;
  --qd-slides-code-block-font-size: 1.3em;
  --qd-code-span-font-size: 0.9em;
  --qd-block-margin: 1.8em;
  --qd-line-height: 1.6;
  --qd-code-line-height: 1.85;
  --qd-heading-label-suffix: "";
  --qd-box-border-radius: 10px;
  --qd-box-icon-baseline: 0.1em;
}

.quarkdown-slides {
  --qd-line-height: 1.8;
}

.quarkdown {
  @include progressive-heading-sizes($multiplier: 1.3);
  @include progressive-heading-margins($bottomAddition: 0.4em);
  @include minimal-tables;
  @include minimal-toc;
  @include minimal-footer;

  ul, ol {
    line-height: 1.5;
  }

  blockquote {
    font-style: italic;
    border-left: 0.4em solid;
    padding-left: 1em;
    padding-right: 1em;
  }

  figure img {
    margin-bottom: 0.5em !important;
  }

  figure figcaption, table caption {
    font-size: 0.8em;
    font-style: italic;
  }

  .box > header > h4 {
    font-size: 1em;
  }

  .codespan-content {
    margin: 0 0.3em;

    .color-preview {
      border-radius: 3px;
      border: 0.1em solid color-mix(in srgb, currentColor 60%, transparent);
    }
  }

  .cross-reference {
    font-style: italic;
  }

  #{location-selectors.$location-heading}::before {
    opacity: .3;
    font-weight: normal;
    margin-right: 0.4em;
  }
}