[[if:NAME]]# [[NAME]][[endif:NAME]]

Welcome to Quarkdown! This is the starting point for your document.

To compile this document, please `cd` to this file's parent directory and run:
`quarkdown c [[NAME]].qmd`

To enable live preview, run: `quarkdown c [[NAME]].qmd -p -w`.

For further information, please refer to the [official wiki](https://github.com/iamgio/quarkdown/wiki).

![Quarkdown](image/quarkdown.png)