[[if:NAME]].docname {[[NAME]]}[[endif:NAME]]
[[if:TYPE]].doctype {[[TYPE]]}[[endif:TYPE]]
[[if:LANG]].doclang {[[LANG]]}[[endif:LANG]]

[[if:AUTHORS]]
.docauthors
[[for:AUTHORS]]
  - [[AUTHORS]]
[[endfor:AUTHORS]]
[[endif:AUTHORS]]