/* Beamer's Beaver color theme */

@use "highlightjs";

@include highlightjs.theme("default");

:root {
  --qd-primary-color: rgb(187, 39, 26);
  --primary-darker: rgb(149, 29, 18);

  --qd-main-color: rgb(10, 10, 10);
  --qd-main-color-muted: rgb(236, 236, 236);
  --qd-background-color: white;
  --qd-link-color: var(--qd-primary-color);
  --qd-color-on-primary: var(--qd-background-color);
  --qd-callout-background-color: rgb(234, 233, 247);
  --qd-callout-content-foreground-color: var(--qd-main-color);
  --qd-callout-title-foreground-color: rgb(83, 81, 152);
  --qd-mermaid-node-background-color: var(--qd-background-color);
  --qd-mermaid-node-text-color: var(--qd-main-color);
}

.quarkdown {
  .box.callout {
    --qd-box-header-background-color: color-mix(in srgb, var(--qd-callout-title-foreground-color) 7%, var(--qd-callout-background-color));

    &:has(.box-content h1) {
      --qd-callout-background-color: var(--qd-main-color-muted);

      .box-content h1 {
        color: var(--qd-primary-color);
      }
    }

    .box-content li::marker {
      color: var(--qd-callout-content-foreground-color);
    }
  }
}