<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="next-size-adjust" content="">
    <meta name="description" content="Markdown with superpowers: a modern typesetting system for papers, presentations and books.">
    <meta name="keywords" content="typesetting, markdown, latex, compiler, document creation, PDF generation, live preview">
    <meta name="author" content="Giorgio Garofalo">
    <meta property="og:title" content="Quarkdown">
    <meta property="og:description" content="Markdown with superpowers: a modern typesetting system.">
    <meta property="og:image" content="https://raw.githubusercontent.com/iamgio/quarkdown/project-files/images/banner-light.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="theme-color" content="#FFFFFF">
    
    <link href="{{ "css/clean.css" | absURL }}" rel="stylesheet" type="text/css">
    <link href="{{ "img/fav.png" | absURL }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ "img/fav.png" | absURL }}" rel="icon" type="image/x-icon" sizes="48x48">
    <link href="{{ .Permalink }}" rel="canonical">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-wrapper">

    {{ partial "navbar.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}

</div>
<!-- Toast Element -->
<div id="toast" class="toast"></div>

<script src="{{ "js/main.js" | absURL }}" type="application/javascript"></script>

</body>
</html>
