<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ "css/clean.css" | absURL }}" rel="stylesheet" type="text/css">
    <link href="{{ "img/fav.png" | absURL }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ .Permalink }}" rel="canonical">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-wrapper">

    {{ partial "navbar.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}

</div>
<!-- Toast Element -->
<div id="toast" class="toast">Coming soon...</div>

<script src="{{ "js/main.js" | absURL }}" type="application/javascript"></script>

</body>
</html>
