.quarkdown .bibliography {
  text-align: start;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5em;
  row-gap: 1em;

  .bibliography-entry-content {
    // #123
    break-inside: avoid;
  }
}