@use "util/heading-selectors" as *;
@use "../layout/util/progressive-heading-sizes" as *;
@use "../layout/util/progressive-heading-margins" as *;
@use "font";

.quarkdown {
  @include progressive-heading-sizes;
  @include progressive-heading-margins;

  #{$headings} {
    color: var(--qd-heading-color);
    margin: var(--qd-heading-margin);
    text-transform: none !important;
    @include font.global-font-family-with-main-fallback($kind: "heading");
  }

  &.quarkdown-slides section > :is(#{$headings}):first-child {
    margin-top: 0;
  }

  div.marker {
    display: none;
  }
}