:root:has(.quarkdown-paged) {
  color-scheme: light;
}

body.quarkdown-paged {
  background-color: lightgray;

  // Paged rendering is not yet complete
  &:not(:has(.pagedjs_page)) {
    opacity: 0;
  }

  .pagedjs_page {
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
  }
}