// Navigation sidebar (not part of the document)

@use "util/media-queries" as media-queries;

$max-level: 3;
$level-width: 9px;

.quarkdown nav.sidebar.sidebar.sidebar.sidebar {
  position: fixed;
  display: none;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 5px;
  max-height: 90vh;
  overflow-y: auto;

  @include media-queries.sm-up {
    display: block;
  }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 !important;

    @for $level from 1 through $max-level {
      &[data-depth="#{$level}"] p::after {
        width: ($max-level - $level + 1) * $level-width;
        margin-left: ($level - 1) * $level-width;
      }
    }

    &:before {
      display: none;
    }
  }

  p {
    height: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background: var(--qd-main-color);
      opacity: 0.25;
      transition: opacity 0.3s;
    }

    @at-root .quarkdown-paged#{&} {
      gap: 8px;

      &::after {
        background: #444;
      }
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover > a {
      background-color: var(--qd-background-color);
      color: var(--qd-main-color);
      padding: 4px 16px;
      border-radius: 8px;
    }

    a {
      display: inline;
      flex-grow: 0;
      color: transparent;
      text-decoration: none !important;
    }
  }

  li.active {
    > p::after {
      opacity: .75;
    }
  }
}

