$sizes: (
        tiny: 0.5em,
        small: 0.75em,
        normal: 1em,
        medium: 1.25em,
        large: 1.5em,
        larger: 2em,
        huge: 3em
);

.quarkdown {
  @each $name, $size in $sizes {
    .size-#{$name} {
      font-size: $size;
    }
  }
}