@use "util/misc-selectors" as *;

.quarkdown {
  .stack > #{$margin-reset} {
    margin: 0 !important;
  }

  .stack-row {
    display: flex;
    flex-direction: row;
  }

  .stack-column {
    display: flex;
    flex-direction: column;
  }

  .stack-grid {
    display: grid;
  }

  .stack-grid > * {
    margin: 0 !important;
  }

  .stack > pre {
    width: auto;
    margin: 0;
  }
}