// Utility mixin that detects components that handle navigation in docs documents,
// and applies a background color to the selected navigation item.
// Non-selected items are applied the same padding to avoid layout shift when selecting items.
@mixin selected-docs-nav-item-background {
  $horizontal-padding: 0.4em;

  &.quarkdown-docs {
    aside nav[role="navigation"] {
      margin-left: $horizontal-padding;

      a {
        padding: 0.2em $horizontal-padding;
        transform: translateX(-$horizontal-padding);
        border-radius: 4px;

        &[aria-current] {
          background-color: var(--qd-link-color);
          color: var(--qd-background-color);
        }
      }
    }
  }
}