@use "../../components/util/location-selectors" as location-selectors;

@mixin minimal-toc {
  nav, .nav {
    ul, ol {
      list-style-type: none;
      margin: 0;
      padding-left: 12px;

      // Nested entries
      ul, ol {
        border-left: 2px solid var(--qd-nested-navigation-line-color);
        border-radius: 2px;
        margin-left: 1px;
        padding: 0 0 0 28px;
      }
    }

    li {
      margin: 4px 0;
    }

    // Location markers
    #{location-selectors.$location-element}::before {
      opacity: .5;
    }
  }

  .quarkdown-slides {
    :is(nav, .nav) > :is(ul, ol) {
      // Resets the no-clipping workaround because this theme's ToC hides list markers.
      margin-left: auto;
    }

    nav, .nav, h1#table-of-contents {
      margin-left: 44px;
    }
  }
}